[2018-10-18 18:16] MarkoPaasila commented on #309
Did you have an account per worker, or did you somehow manage to use one for many workers? Just making sure.

[2018-10-18 18:19] matricea commented on #309
yes, one account per worker.
I would love to have more workers under same account ;)

[2018-10-19 10:15] #347 closed

[2018-10-19 10:15] #351 closed

[2018-10-19 15:59] bitfag commented on #355
Probably better to use settings in the GUI because passing cli args to qt app may be painful, and also GUI setting is more user-friendly.

[2018-10-22 10:29] joelvai commented on #354
Pybitshares 0.2.0 updates many of the out dated dependencies but some are still intact. These are some of the dependencies that could be updated later:

- [ ] 1. PyInstaller 3.3.1 => 3.4
- [ ] 2. PyQT 5.10 => 5.11.3
- [ ] 3. cryptography 2.3 => 2.3.1
- [ ] 4. pycryptodomex 3.6.4 => 3.6.6

[2018-10-22 11:44] joelvai commented on #353
I managed to confirm this bug, it actually does change the worker to staggered orders but keeps the relative order's parameters saved in the configure file as well.

[2018-10-22 12:30] MarkoPaasila opened #358 "Use many accounts with the same private key"
I chain permissions of all accounts over an intermediary account to an active account. This way dexbot needs only one key. When I revoke the rights of this one key, dexbot can't access any account at all.

But the configuration dialog requires inputting a private key each time. How could this be improved?

[2018-10-23 06:05] #335 closed

[2018-10-23 06:05] #312 closed

[2018-10-23 06:09] cloud-8 commented on #342
@joelvai issue not solved. Same problems with latest dexbot release too 0.79

[2018-10-23 07:41] joelvai commented on #342
Just to narrow down all the options, do you have any firewall, antivirus or VPN in use that could block the connection.

[2018-10-23 07:51] joelvai commented on #276
@Cobb-Chang have you tried that latest version of DEXBot? If this is still on going problem, let me know.

[2018-10-23 08:57] MarkoPaasila opened #359 "Only 5 workers allowed"
## Expected Behavior
10 workers allowed

## Actual Behavior
After 5 workers the "add worker" is disabled

## Steps to Reproduce the Problem

  1. Make 5 workers

## Specifications

  - Version: 0.7.9 zip
  - OS: Windows

Reported by "Nick" on Telegram

[2018-10-23 09:06] joelvai commented on #359
Found the bug. Check that keeps count of the workers adds double the amount thus set limit of 10 is actually half.

[2018-10-23 09:07] NickDavison commented on #359
Was previously able to add 10 workers. Bot crashed after running for a while and only 5 workers were configured on restart ( workers 1-5 remained).

I am now unable to add additional workers.

[2018-10-23 09:08] NickDavison commented on #359
Wow that was quick Joelvai ;)

[2018-10-23 09:30] joelvai commented on #359
I fixed the bug and it will be on the next release.

[2018-10-23 09:41] MarkoPaasila commented on #354
I'm testing with all those packages and stuff seems to work. Got one new error, but will see if it repeats.

[2018-10-23 09:59] joelvai commented on #354
Can you post the error if it reoccurs?

[2018-10-23 10:02] MarkoPaasila commented on #354
Of course

[2018-10-23 12:00] joelvai opened #361 "Travis build fails"
Compiling OSX version with Travis fails.

## Specifications

  - Version: *
  - OS: OSX

[2018-10-23 12:19] #361 closed

[2018-10-23 12:29] MarkoPaasila opened #363 "Packaging instructions wiki entry"
It should be possible for anyone to compile and package DEXBot. This is to make it possible for any developer to make custom strategies and package them for their customer. It is also good to document before the funding ends, so things can continue as smoothly as possible

[2018-10-23 21:29] NickDavison opened #364 "Changing relative order size on Workers throws error"
## Expected Behavior

Orders are replaced with new order that reflect the relative order size percentage

## Actual Behavior

Traceback (most recent call last):
  File "dexbot\views\errors.py", line 95, in func_wrapper
  File "dexbot\views\worker_item.py", line 175, in handle_edit_worker
  File "dexbot\views\worker_item.py", line 153, in reload_widget
  File "dexbot\views\worker_item.py", line 47,

[2018-10-23 21:35] NickDavison opened #365 "Workers Default To Off On Restart"
## Expected Behavior

Workers retain same on/off status they had when program terminated.
## Actual Behavior

Workers must be manually reconfigured to on status each time.

## Steps to Reproduce the Problem

  1. Turn workers on
  2. Close program
  3.

## Specifications

  - Version: 0.7.9
  - OS: Windows 10 Pro

[2018-10-23 21:39] NickDavison commented on #365
Would be great to get this changed, as this will mean the DexBot could be scheduled to run via task scheduler, or run from startup preventing downtime from system reboots, windows updates, etc.

[2018-10-24 01:49] cloud-8 commented on #342
@joelvai no firewall or VPN, tried in two separate locations on 3 separate systems (win, linux, rPI).

[2018-10-24 06:19] MarkoPaasila opened #366 "[GUI] Button to start all workers"
Just to spare peoples time.

[2018-10-24 07:08] joelvai commented on #342
I haven't been able to reproduce this problem with 0.7.9 using Linux or Windows 10. Can you provide me the following things
- Python dependencies `pip freeze`
- Nodes that you are using

[2018-10-24 07:52] NickDavison opened #367 "price.py, TypeError: 'NoneType' object is not subscriptable"
## Expected Behavior

Worker Places buy and sell orders

## Actual Behavior

Worker does nothing then throws the following error when disabled / re-enabled

Traceback (most recent call last):
  File "dexbot\worker.py", line 142, in on_market
  File "site-packages\events-0.3-py3.5.egg\events\events.py", line 95, in __call__
  File "dexbot\strategies\relative_orders.py", line 342, in check_orders

[2018-10-24 09:39] MarkoPaasila opened #368 "Add uptick excecutable to release package"
This to allow better problem solving and to benefit from uptick functionality.

[2018-10-24 09:40] MarkoPaasila commented on #98
This isn't probably relevant any more. I'll close it

[2018-10-24 09:40] #98 closed

[2018-10-24 09:42] MarkoPaasila commented on #109
I'll abandon this bug. It's old and has likely been solved by other fixes.

[2018-10-24 09:42] #109 closed

[2018-10-24 09:44] MarkoPaasila commented on #156
I think here's still something to try to reproduce. Someone also reported Staggered Orders to halt (reset?) when Relative Orders was started.

[2018-10-24 09:53] MarkoPaasila commented on #158
Somehow I have the feeling that Nonetype objects are related to poor node connections. I might be wrong. Could it be related to stop/start worker or modify worker? Why do we expect there to be an object where there is none?

[2018-10-24 09:56] MarkoPaasila commented on #246
I haven't seen this error message for a long time, nor have I heard of one. @mikakoi do you remember if this was finished, or has it been fixed in connection with some other bug?

[2018-10-24 09:57] MarkoPaasila commented on #250
xeroc promised to look into this time issue with pybitshares.

[2018-10-24 10:41] MarkoPaasila commented on #276
It seems like this is something inside pybitshares. Someone got this same error from using it directly.

[2018-10-24 10:48] joelvai commented on #276
Wonder if bitshares 0.2.0 fixed this. I try to reproduce it.

[2018-10-24 11:47] joelvai commented on #143
I cound't reproduce this using the same system user name as described in the ticket. I suggest reinstalling DEXBot. I am closing this ticket for now, please open a new ticket if this error still appears.

Tested with:
DEXBot: 0.7.9
OS: Windows 10 Pro

[2018-10-24 11:47] #143 closed

[2018-10-24 12:13] MarkoPaasila commented on #309
This seems related to the issue where Relative Orders cancels orders of other workers.

[2018-10-24 12:14] MarkoPaasila commented on #342
@joelvai he's the guy we are talking with on Slack

[2018-10-24 12:45] MarkoPaasila commented on #250
https://github.com/bitshares/python-bitshares/issues/155

[2018-10-25 03:05] wmbutler commented on #98
I haven't recently. Sorry.

[2018-10-25 07:40] joelvai commented on #267
Closing this issue since can't be reproduced anymore on DEXBot 0.7.9. If this bug reoccurs please open new ticket.

[2018-10-25 07:40] #267 closed

[2018-10-25 11:40] MarkoPaasila commented on #364
@joelvai can you check the code to see how it calculates orders sizes when relative order size is changed, and how it calculates order sizes in any case? I had a quick glimpse, and it looked like the logic lacks something, or then I just missed it. The order size should be related to the total amount of the asset (just in case some of it is allocated in orders at the time of calculating).

[2018-10-25 11:47] #26 closed

[2018-10-25 11:48] #27 closed

[2018-10-25 11:49] #28 closed

[2018-10-25 11:50] MarkoPaasila commented on #101
@juhanihaapala please read and close :-)

[2018-10-25 11:54] MarkoPaasila commented on #231
We need to improve markets using staggered orders first, then this should be no issue any more.

[2018-10-25 15:56] NickDavison opened #369 "Only One Worker Initiates on Staggered Order Mode"
## Expected Behavior

All workers initiate, then manage orders on their relative exchange

## Actual Behavior

One order initiates, other workers hang on "starting worker"

## Steps to Reproduce the Problem

  1. Create 5 workers, set to staggered / mountain
  2. Start all workers
  3. Possibly Multithreading Issue?

## Specifications

  - Version: 0.7.9
  - OS: Windows 10, I3-4130

[2018-10-26 10:34] joelvai commented on #364
@MarkoPaasila I tested with relative order size of 50%. It allocates exactly that amount of QUOTE to sell and BASE to buy. Changing the size to 60% cancels orders correctly and creates new orders with correct sizes.

[2018-10-26 11:09] mikakoi commented on #246
I don't think there was a fix made for this, but I've never personally encountered this bug.

[2018-10-26 11:12] joelvai commented on #364
@NickDavison did you use one account to run only one worker and with what worker parameters? I haven't been able to reproduce this bug.

[2018-10-28 13:20] CryptoKong opened #371 "Base/ Quote Visualisation"
There is a lot of confusion about which way round to have base and quote, I wonder if we could add an image to the worker setup page that changes when base and quote are inputted.

![image](https://user-images.githubusercontent.com/33036236/47616399-0d7c0480-dab4-11e8-95e5-625d432886a1.png)

If we could display something like the above that updates when something is typed in it would really help u

[2018-10-29 06:48] #359 closed

[2018-10-29 12:32] joelvai commented on #366
I'd suggest that if there is a button to start all the workers, there should be also a button to  stop all workers.

[2018-10-29 13:02] NickDavison commented on #369
It sounds like that is the case, I set the upper bounds crazy high, I will try reducing the bounds a little.

[2018-10-30 07:13] #353 closed

[2018-10-30 07:37] MarkoPaasila commented on #369
@NickDavison with some 5% increments and +-100x boundaries (1 000 000%) range it makes some 200 - 300 orders, which takes some time to place. However it should take turns between workers. I don't know if it just takes that much time to estimate all order sizes with a +10 000x range and 0.1% increments. It all happens on one thread, including the GUI. You might be able to get more insight by using

[2018-10-30 08:57] NickDavison commented on #369
@MarkoPaasila,

That seems to be exactly what is going on, is multi-thread support on the feature list?

[2018-10-30 09:56] joelvai commented on #369
It is still under discussion since it would require quite a bit re factoring.

[2018-10-30 10:15] joelvai commented on #369
@NickDavison did Marko's answer solve your problem?

[2018-10-30 11:07] MarkoPaasila commented on #306
Does someone else understand what the issue is here. I'm too stupid.

[2018-10-30 12:04] joelvai commented on #367
Can you provide the config for the worker that caused this.

[2018-10-30 13:07] MarkoPaasila commented on #369
I didn't actually provide any solutions :-)

[2018-10-30 13:07] MarkoPaasila commented on #246
I'll take the courage to close.

[2018-10-30 13:07] #246 closed

[2018-10-30 13:11] MarkoPaasila commented on #366
#365 is related. Should think what is the lowest hanging

[2018-10-30 13:15] joelvai commented on #156
Closing this since haven't been able to reproduce with newest version. Please open again if reoccurs.

[2018-10-30 13:15] #156 closed

[2018-10-30 13:15] joelvai commented on #157
Closing this since haven't been able to reproduce with newest version. Please open again if reoccurs.

[2018-10-30 13:15] #157 closed

[2018-10-30 13:15] joelvai commented on #158
Closing this since haven't been able to reproduce with newest version. Please open again if reoccurs.

[2018-10-30 13:15] #158 closed

[2018-10-30 23:47] Eltryou opened #375 "WalletLocked() error on worker creation"
## Expected Behavior

Dexbot first run ask for encryption password and confirmation, then keep track for next launchs

## Actual Behavior

Using last build (DEXBot-gui-win64-0.7.18.zip) on a fresh new windows7 vmware, app run, ask dexbot encryption password and confirmation then when adding and validating a worker, give error msg:
WalletLocket() and this tracelog
Traceback (most recent call last):

[2018-10-31 04:29] thehapax opened #376 "GUI Visibility of text, buttons on OSX"
## Expected Behavior
Should be able to see the text but is cut off.
Also button for save, cancel not visible unless expanded to wide view.
Viewing on OSX on 2560 x 1600 resolution.

## Actual Behavior

<img width="596" alt="screen shot 2018-10-29 at 2 15 59 pm" src="https://user-images.githubusercontent.com/39811582/47765938-94cea100-dc89-11e8-93e1-ed1f58f0248b.png">

<img width="1398" alt="screen

[2018-10-31 04:34] thehapax commented on #319
have api code for coingecko and ccxt (100 different exchanges, only using 3 majors for now). I also suggest adding Waves DEX and possibly one other backup option for consolidated quotes, similar to coingecko as a backup.

[2018-10-31 06:40] joelvai commented on #375
I was able to reproduce this, I will start working on fixing the problem now.

[2018-10-31 07:32] MarkoPaasila commented on #319
So ccxt doesn't contain waves api?

[2018-10-31 09:49] Eltryou commented on #375
same behavior on a fresh ubuntu 16.04 vmware using published build or building from source 0.7.18

[2018-10-31 10:01] joelvai commented on #375
Problem is caused by the latest bitshares 0.2.0 dependency update, which broke how the Wallet is used. This also causes a problem, which doesn't let you create the Wallet at all. I am looking a way to fix this. For now if you have already created workers they should be fine, but adding new private keys does not work as well as new wallets. I recommend using older version (0.7.9) of DEXBot for crea

[2018-10-31 11:55] joelvai commented on #375
@Eltryou as an update to this issue, I am currently waiting for an update to python-bitshares dependency where we discovered the origin of the issue.

[2018-10-31 14:03] joelvai commented on #375
This is fixed in the latest release 0.7.19.

[2018-10-31 14:03] #375 closed

[2018-11-01 02:22] Bluffet opened #379 "MAC OS failure to execute"
## Expected Behavior

Expected to be like windows
## Actual Behavior

Terminal launches and gets to this point:

[12629] Error loading Python lib '/var/folders/f8/kdsmx9x88xj0c2006s6_c7980000gn/T/_MEI1m52B5/Python': dlopen: dlopen(/var/folders/f8/kdsmx9x88xj0c2006s6_c7980000gn/T/_MEI1m52B5/Python, 10): Symbol not found: _clock_getres
  Referenced from: /var/folders/f8/kdsmx9x88xj0c2006s6_c7980000g

[2018-11-01 08:32] Cobb-Chang opened #380 "Cannot create a worker that was created before but now was deleted"
## Expected Behavior
creat a worker that i deleted but it was there before.
when i want to save a that worker, it report error

## Actual Behavior
Traceback (most recent call last):
  File "/home/cobb/dexbot/dexbot/views/errors.py", line 95, in func_wrapper
    return func(*args, **kwargs)
  File "/home/cobb/dexbot/dexbot/controllers/worker_controller.py", line 244, in handle_save
    self.add_pri

[2018-11-01 08:36] joelvai commented on #380
The private key for the account is already stored. If you are trying to create a worker with an account that you previously used in another worker but deleted, the key is already stored.

[2018-11-01 08:47] Cobb-Chang commented on #380
alread deleted the old worker

[2018-11-01 08:48] joelvai commented on #380
![image](https://user-images.githubusercontent.com/10694041/47841863-a2884180-ddc3-11e8-9b49-6110dbbf989f.png)
Try leaving the `Private Active Key` blank.

[2018-11-01 08:55] Cobb-Chang commented on #380
the "wallet.py" is different between below two version. so i used the old version to solve this problem

bitshares version:0.2.1
def addPrivateKey(self, wif):
        """ Add a private key to the wallet database
        """
        try:
            pub = format(PrivateKey(str(wif)).pubkey, self.prefix)
        except:
            raise InvalidWifError("Invalid Key format!")
        #if str(pub) in

[2018-11-01 08:59] Cobb-Chang commented on #380
it's a good method. it's ok now

[2018-11-01 10:33] joelvai commented on #380
@Cobb-Chang I leave this open, I will make changes to properly handle the error.

[2018-11-01 10:48] Cobb-Chang commented on #334
@joelvai

[2018-11-01 11:10] joelvai commented on #334
I will look into it, thanks for pointing out.

[2018-11-02 14:42] MarkoPaasila commented on #376
Would it be better to allow elements flow into columns or to have a scrollbar? Any other possibilities?

[2018-11-02 14:43] MarkoPaasila commented on #379
Did you install from source or download the package?

[2018-11-02 17:55] thehapax commented on #376
Scroll bar or columns would be ideal. QT5 does some funny things on a mac.

On Fri, Nov 2, 2018 at 7:42 AM Marko Paasila <notifications@github.com>
wrote:

[2018-11-04 17:48] bitfag commented on #364
@joelvai look at the exception, the error seems related to updating GUI profit stider and not order size at all. Editing worker just triggered widget reload etc.

[2018-11-04 17:51] bitfag commented on #355
Windows users often reporting bugs but we are not able to ask debug log, not good.

[2018-11-04 18:43] bitfag opened #382 "dexbot-cli doesn't exit on C-c"
In c9bfe009f5693c81bbd451b4d4f20e5bbd5557da was modified websocket closing conditions, this caused a break of exiting by signal (SIGTERM etc).

[2018-11-04 18:53] bitfag commented on #306
Probably it's better to discuss strategy logic in telegram channel first and then fill a bug whether there is really a bug. It's unclear to me what @lsji07 tries to explain.

[2018-11-04 19:11] bitfag opened #385 "Refactor Staggered orders to use base.py"
Migrate from basestrategy to base.py, self-assign.

[2018-11-04 19:18] bitfag opened #386 "Implement orders depth limit for Staggered Orders"
When Staggered Orders strategy is used with huge depth and big orders count, it causes long maintenance time and lots of orders replacements especially when we are adding new funds from outside.

To improve strategy speed, decrease overhead and maintenance time, I propose to limit orders count by N depth (user-defined parameter).

I would like to work on this.

[2018-11-05 06:11] joelvai commented on #364
@bitfag I know, but what I am looking with this is that maybe this is caused only when there are no available funds for the other asset or something else.

[2018-11-05 06:15] joelvai commented on #201
To correct myself a little bit, this is when editing worker using CLI configure tool and setting e.g. lower bound as `0.00001` which then shows as `1e-05` when editing it next time.

[2018-11-05 07:38] bitfag commented on #201
@joelvai ok, this is probably because values saved to config as "center_price: 4e-06" without string formatting. Probably best to format value in dexbot/cli_conf.py while showing to user.

[2018-11-05 07:50] joelvai commented on #201
I tried to do something like that some time ago, but didn't continue since there was more urgent issues. Quickly that sounds like the best option.

[2018-11-05 08:00] bitfag commented on #201
OK I did a quick fix.

[2018-11-05 20:57] MarkoPaasila commented on #386
I don't want to say "don't do it". It doesn't sound like a massive job, so just do it. Would it worth checking first that it doesn't unnecessarily sort and iterate over the whole list every time or something else heavy? If not, then leaving further orders unplaced seems necessary.

[2018-11-05 21:00] MarkoPaasila commented on #306
I'll close this. If this really is an issue we will certainly bump into it later.

[2018-11-05 21:00] #306 closed

[2018-11-05 21:22] thehapax commented on #379
I confirm Dexbot version 0.7.19 is working on OSX 10.13.6 for the downloadable executable. the releases should work for 10.12 on up.

the error from the end user is for Symbol not found: _clock_getres, which is not implemented for OSX versions below 10.12 .  So unfortunately we are not supporting the OSX version 10.9.5 at this point in time. Please upgrade your OSX accordingly to use Dexbot. @Mark

[2018-11-05 21:32] thehapax commented on #319
Hi @MarkoPaasila.  The list of exchanges provided by ccxt are listed below.

Waves is not listed. Since they are a Waves is another DEX with some volume, I would suggest adding them as option for external feeds. This way we have 1 consolidated quote system (coingecko) , 1 for selecting any single exchange (ccxt, with 100 options, mostly centralized exchages with large volume) and 1 other DEX (wave

[2018-11-06 06:01] #379 closed

[2018-11-06 08:19] bitfag commented on #386
Well, it's actually possible to avoid loading of all own orders in some cases which may speed up initial orders placement and "silent" maintenance when nothing happening.

Though keeping N orders seems best to me because maintaining far-from-center orders is useless waste of own resources and blockchain nodes resources. While trading is happening around center, we are continuously replacing far or

[2018-11-06 10:05] MarkoPaasila commented on #319
Thanks. As we now have a bridge between Waves and BitShares DEX's, Waves price feed is relevant.
This feature is no MVP any more at this point :-). This is a much awaited feature, and I'm looking forward to community response.

[2018-11-06 10:07] MarkoPaasila commented on #386
"Operational Depth" is a good term :-)

[2018-11-07 13:45] phobos777 opened #387 "add "dynamic center price" on the dashboard of worker"
suggestion please.  :)   . .. can you add the what the "dynamic center price" on the dashboard of the worker please?   - i know the tool knows what it is, and i have to do quick math in my head.  be nice to see the center price as a visual.

[2018-11-07 13:47] phobos777 opened #388 "timed reset of orders"
for inactive markets, it would be nice to reset the time of orders,  i.e. every 15 minutes, reset the orders around a new dynamic center price.  and/ or reset the market every 15 minutes with a 6% spread instead of a 7% spread.  so a sliding functions according to time.

[2018-11-07 15:34] Cobb-Chang opened #389 "buy() got an unexpected keyword argument 'fee_asset'"
## Expected Behavior
'
Traceback (most recent call last):
  File "/home/cobb/dexbot/dexbot/worker.py", line 76, in init_workers
    view=self.view
  File "/home/cobb/dexbot/dexbot/strategies/relative_orders.py", line 147, in __init__
    self.check_orders()
  File "/home/cobb/dexbot/dexbot/strategies/relative_orders.py", line 489, in check_orders
    self.update_orders()
  File "/home/cobb/dexbot/

[2018-11-07 16:04] Cobb-Chang commented on #389
ive tried reinstall all module(resuirements.txt, python setup.py build & install) still not work

[2018-11-08 07:49] MarkoPaasila commented on #387
The goal has all the time been to make a bot that you don't need to actively manage, and the purpose of the slider was to provide a single indicator of whether the strategy is in balance (definition depends on strategy), and that should be all that's needed. Everything should work automatically. We can easily clutter the dashboard with all kinds of controls and indicators. So the whole idea of wat

[2018-11-08 07:53] MarkoPaasila commented on #388
You already can have orders reset at any interval in seconds. Is that what you mean, or something else?
There's also dynamic spread, so that your spread is x% of the market spread at the time of resetting orders.

[2018-11-12 07:11] #380 closed

[2018-11-12 07:15] #382 closed

[2018-11-12 13:04] Bluffet commented on #379
Then it should be stated somewhere that it's not possible. It was the executionable, @MarkoPaaasila

[2018-11-12 17:32] #385 closed

[2018-11-17 10:11] cogutvalera opened #392 "Add Strategy Templates parameters for sharing between users (add/remove/share)"
It would be nice when users can share their best different strategy template parameters

[2018-11-24 15:17] Agorise opened #395 "Please expand README.md just a bit"
I have never used a bot, but I do have a couple of friends who would like to create a coin and get it liquid asap. One of them is the mayor of a small city. I am going to show them how they can create their own coin, but the Readme needs to be super simple since I can't help them with the liquidity process.

Contact info (guys who are willing to accept direct messages regarding DEXbot)
 - Nickname

[2018-11-24 15:23] Agorise opened #396 "Add DEXbot docs to dev.bitshares.works"
In the Bitshares docs, there is a section for creating your own coin, connecting your exchange, integration etc, but running the best dexbot on the planet is not included.
https://dev.bitshares.works/en/master/index.html

Could you guys add your swagger ui or other dexbot docs to the main works site too?

Link it also so that it never goes out of date from the master?

[2018-11-27 18:47] joelvai opened #399 "[GUI] External price feed for Relative Orders"
GUI options for external price feed to Relative Orders.

- Checkbox to enabled / disable external price feed
- Dropdown menu to list external feeds

[2018-11-28 10:56] MarkoPaasila commented on #396
I think this would better be done after we hand over the project to the community - that is, in January.

[2018-11-29 11:49] #386 closed

[2018-11-29 11:51] #395 closed

[2018-12-02 01:27] nextgenthemes opened #403 "WrongMasterPasswordException"
## Expected Behavior
For it to work

## Actual Behavior
[code]

## Steps to Reproduce the Problem

  1. Start binary
  2. type any pw twice

## Specifications

  - Version: https://github.com/Codaone/DEXBot/releases/download/0.7.25/DEXBot-gui-linux-0.7.25.tar.gz
  - OS:  Kubuntu 18.04

I actually had it working a few days ago but deleted the configs and wanted to start from scratch. I also find th

[2018-12-02 04:35] nextgenthemes commented on #403
I forgot to delete the bitshares.sqlite as well. Could have been a better error message.

[2018-12-02 04:35] #403 closed

[2018-12-03 18:44] CryptoKong opened #405 "Cancel all orders"
Add a "cancel all orders" button to the dash for each worker next to "modify worker" button, when playing around with workers and trying to tweak settings in the GUI it is a pain to keep having to go to the DEX and leave the exchange page to go to the open orders page to cancel all orders and start again. If this button was available on the dash for each worker it would be much better.

[2018-12-03 18:52] CryptoKong opened #406 "Asset issuer selection"
Rather than having users type a prefix in the GUI, perhaps having a drop down menu next to the asset where the user can select cryptobridge, openledger, easydex, spark, etc. Then auto attach the prefix for them (in the background). If BTS or any smartcoin or non prefixed asset is typed in, it shouldn't matter which exchange they select.

[2018-12-04 06:10] MarkoPaasila commented on #406
This would guide the user to input correct values, and thus reduce silly errors and frustration. Good suggestion. I see no downside.

"Native" should be one option. Think BTC.

[2018-12-04 08:32] CryptoKong commented on #406
Yes good idea. The native option would probably need explaining in the "?" as some may be unsure as to its meaning, ie: a lot of cryptobridge users have no idea about bitshares.

[2018-12-04 14:04] bitfag commented on #405
Agree, I personally use simple script which cancels all orders on the defined account.

[2018-12-05 02:02] thehapax commented on #406
@MarkoPaasila  Would it be ok if i look into this? I need something to do to stay current and i haven't looked into the GUI yet. Plus I have questions about how joelva approaches development here, and something small would be good to look at. Totally understand if no budget but I also need to be prepared for wp2 on the front end.

[2018-12-05 10:01] PermieBTS commented on #303
Rest assured QA processes are being taken seriously..

A dedicated QA dev and a Shadow QA dev is being sought to ensure thorough QA. A test process document is being written to make the process transparent and to make sure it is repeated for every release of DEXBot

[2018-12-05 15:37] MarkoPaasila commented on #303
Should the checks include separately testing each feature, installation using all supported methods and operating systems? I don't think the checklist should be so strict that it inhibits us from making releases, but it should make sure we never go backwards. Every release should be better than the previous.

So we should document (wiki) the QA procedure and prepare the checklist. Every new featur

[2018-12-05 20:57] CryptoKong opened #407 "Staggered orders neutral mode as default"
Set neutral mode as default option for staggered orders so noobs hopefully use it first to help them understand before moving onto valley/ mountain

[2018-12-06 00:48] thehapax commented on #406
ok. @MarkoPaasila

[2018-12-06 00:48] thehapax commented on #405
ok i'll also look into this GUI issue. @MarkoPaasila

[2018-12-06 19:29] bitfag commented on #407
Good point, I'll include this into next PR if no objections.

[2018-12-06 23:39] thehapax commented on #303
Yes it should cover all new features and all platforms. I think we've gotten better but we need to make sure that really egregious bug don't show up. Right now the pain point for someone without technical skills on the command line is still too high for the software to be adopted.

If we have a dedicated QA working on a wiki and prepping the checklist as well as giving feedback to the team and lis

[2018-12-07 07:39] #101 closed

[2018-12-09 08:23] foreman1 opened #408 "cannot placing order because of balance"
Traceback (most recent call last):
  File "site-packages\graphenelib-1.0.1-py3.5.egg\grapheneapi\api.py", line 172, in func
  File "site-packages\graphenelib-1.0.1-py3.5.egg\grapheneapi\rpc.py", line 127, in method
  File "site-packages\graphenelib-1.0.1-py3.5.egg\grapheneapi\rpc.py", line 97, in parse_response
grapheneapi.exceptions.RPCError: Assert Exception: delta.amount > 0: Insufficient Balan

[2018-12-09 09:15] bitfag commented on #408
Can you provide some log messages preceding mentioned tracebacks?

[2018-12-09 09:20] foreman1 commented on #408
![image](https://user-images.githubusercontent.com/45729175/49695481-84311500-fbbd-11e8-8004-a400e136983c.png)

you mean this log?

[2018-12-09 09:49] bitfag commented on #408
No, please provide a dexbot.log, see https://github.com/Codaone/DEXBot/wiki/Common-problems#file-locations

[2018-12-09 10:09] foreman1 commented on #408
here my log
[dexbot.log](https://github.com/Codaone/DEXBot/files/2660412/dexbot.log)

[2018-12-09 11:35] bitfag commented on #408
Looks like you just haven't enough Fee Asset to pay fees.

[2018-12-10 15:35] bitfag commented on #309
I'm experiencing time-to-time hangs, they are caused by interrupted communication with the node. For some reason pybitshares doesn't handling such situations, maybe because they are lower-level than pybitshares, maybe somewhere inside websocket libraries. Hard to debug because the exact way to reproduce is unknown.

[2018-12-10 20:48] depboy opened #410 "Get error message: "spread is more than increment, refusing to work because worker will make losses""
I believe spread has to be more than increment, so this error message is actually back to front?

Note that the error went away as soon as I switched back to spread > increment.

[2018-12-12 09:57] joelvai commented on #410
Thank you for reporting this, it will be patched on the next release.

[2018-12-12 11:36] #407 closed

[2018-12-12 11:36] #410 closed

[2018-12-12 18:58] bitfag commented on #274
Also change to `dexbot-cli`.

[2018-12-15 13:51] andresmoya opened #415 "TypeError: 'NoneType' object is not subscriptable"
Traceback (most recent call last):
  File "dexbot\worker.py", line 122, in on_block
  File "site-packages\events-0.3-py3.5.egg\events\events.py", line 95, in __call__
  File "dexbot\strategies\staggered_orders.py", line 1431, in tick
  File "dexbot\strategies\staggered_orders.py", line 207, in maintain_strategy
  File "dexbot\strategies\staggered_orders.py", line 532, in allocate_asset
  File "dex

[2018-12-15 17:07] MarkoPaasila opened #416 "Separate tool to collect liquidity per account per market"
To further incentivize market making, exchanges need a tool to collect data. It should take a list of markets, then monitor them constantly. On each block, it should add the total USD value of the liquidity provided per account to a per-account-total. That means that time and amount matter.

At request or constantly, a csv or similarly useful file should be updated, so the data can be further anal

[2018-12-15 17:08] MarkoPaasila commented on #416
As this would further the case of DEXBot - liquidity - I think it fits into the scope of the project.

[2018-12-15 17:21] MarkoPaasila opened #417 "An asset conversion strategy"
A strategy that converts from one asset to another by placing orders that don't fill. I would like it to have the following settings:
1. Sell: [asset]
2. Buy: [asset]
3. Deadline: [time]
4. Total amount: [sell]

It would keep a buy order below current ask. With a long time (no hurry) it could place small orders relatively far below ask price. With little time (hurry), it would increase order size

[2018-12-15 17:29] MarkoPaasila opened #418 "Combine Telegram notifications to DEXBot"
Add [this](https://github.com/Codaone/BitShares-Telegram-notifier) functionality to DEXBot. We already have the accounts, but an interface is necessary to add the API id.

[2018-12-15 18:16] bitfag commented on #415
Fixed in master branch, the fix will be included in next release.

[2018-12-21 07:38] joelvai commented on #415
This issue is fixed in the latest release, in case this reoccurs please open new ticket.

[2018-12-21 07:38] #415 closed

[2018-12-24 16:33] bitfag commented on #271
* [x] External price feed

[2018-12-24 16:43] bitfag commented on #418
What kind of notifications do you mean? Just account updates or messages from dexbot about what it is doing?

[2018-12-29 20:25] CryptoKong opened #426 "Error starting worker (relative orders)"
## Steps to Reproduce the Problem

  1.updated to latest version
  2.changed worker from staggered to relative
  3.start worker
  4.receive error

## Specifications

  - Version:0.8.5
  - OS:ubuntu 16.04

I received the following error when trying to start a relative orders worker

Traceback (most recent call last):
  File "/home/cryptokong/.local/lib/python3.5/site-packages/dexbot-0.8.5-py3.5.egg

[2018-12-29 20:26] CryptoKong opened #427 "delete worker error"
## Steps to Reproduce the Problem

  1.try to delete worker
  2.receive error
  3.

## Specifications

  - Version:0.8.5
  - OS:ubuntu 16.04

i received the following error trying to delete my workers

Traceback (most recent call last):
  File "/home/cryptokong/.local/lib/python3.5/site-packages/dexbot-0.8.5-py3.5.egg/dexbot/views/errors.py", line 95, in func_wrapper
    return func(*args, **kwarg

[2018-12-31 08:42] #274 closed

[2018-12-31 11:01] joelvai commented on #426
Did you set external price feed for the worker? If so and you are using Python `3.5.2` it doesn't work correctly. Only options are that you don't use external feed that uses ccxt or update your Python interpreter to `3.6`

[2018-12-31 11:07] #427 closed

[2018-12-31 11:19] #408 closed

[2019-01-01 19:39] CryptoKong commented on #426
No i only use the gui i hadnt set any external price feeds. It was an old worker setup in a previous version which after updating i changed from staggered to relative then tried to run and got the error

[2019-01-09 21:16] thehapax opened #430 "SSL Certificate Verify Failed - Ubuntu 16.04 dexbot-gui"
## Expected Behavior
dexbot-gui should launch without errors on CLI

## Actual Behavior
Keith White on telegram
[SSL: CERTIFICATE_VERIFY_FAILED] problem, I was getting those messages when trying to run the Dexbot version extracted from 'DEXBot-gui-linux-0.8.5.tar.gz', however I have now tried the 'Source code (tar.gz)' version and that runs without problem, there are no SSL or other problem messag

[2019-01-13 08:01] thehapax commented on #430
upgrade to python3.6 and ubuntu 18.10, closing issue

[2019-01-13 08:01] #430 closed

[2019-01-13 08:04] thehapax opened #431 "uptick install is broken on dexbot install; missing dependency (setup.py)"
for digital ocean (DO) droplet:  18.10 ubuntu default install.  Uptick doesn't install at this moment from `pip3 install uptick` had to go to manual install.

https://uptick.readthedocs.io/en/latest/installation.html

[2019-01-14 04:14] thehapax commented on #431
Same issue for 18.04 LTS as 18.10 with uptick

Tabulate is missing on uptick install in either setup.py or requirements.txt

No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.1 LTS
Release:	18.04
Codename:	bionic

[2019-01-14 19:50] CryptoKong opened #432 "Staggered Orders: 99.99% order filled, leaves dust and doesnt replace order on other side"
On staggered orders, I keep getting orders filled that leave a tiny dust order still in place. Rather than replacing the 99.99% filled order on the other side the worker waits for the dust order to be filled.

When this happens the worker should cancel the remaining dust order and replace the filled balance on the other side.

Below is a screen shot showing the remaining dust order (0.01BTS) after

[2019-01-15 09:16] bitfag opened #433 "Official docker image"
I think we need to build and maintain official docker image for the project. Docker image is an easy and unified way to try the software and deploy onto VPS.

[2019-01-15 18:31] bitfag opened #434 "Multiple workers on same accounts with assets intersections"
User can create multiple workers one the same account for example for BTC:LTC and USD:BTS pairs. That's fine.

Another situation may be BTC:LTC and BTC:ETH markets. There is BTC asset intersection. Dexbot doesn't handle well such situations now. Solutions:
* (staggered) refuse to create such workers and complain
* (relative) refuse and complain
* Make Relative orders probably tolerate this assets

[2019-01-15 20:16] thehapax commented on #433
agreed. sending a link to permie since i don't know what his github username is

[2019-01-18 11:03] MarkoPaasila opened #435 "Staggered Orders performance estimation 30d instead of 7d"
Staggered Orders is a long term strategy. It is often the case that price moves in only one direction for 7 days, and thus there would be no profit within that time span.  Increasing the measurement span to 30 days would increase the probability of one or more reversals, enabling the indicator to reveal the "profit".

[2019-01-18 11:08] MarkoPaasila opened #436 "Collect and report total volume in USD"
There's a spot reserved in the dashboard for reporting total provided volume (actually filled orders), which is a number of interest to market makers. Something to brag about. It could report the total amount from the beginning. We could start by reporting in USD, which could later be made configurable in global preferences.

[2019-01-19 18:57] bitfag commented on #434
There is a one logical problem for Staggered Orders strategy. Logically correct would be split balance across workers on the beginning (initial orders placement), and then maintain them similarly as it would be different accounts. What I mean: if you have a worker with 50% of balance and then some orders was filled, it's share % in common balance should also decrease proportionally to amounts of f

[2019-01-19 19:47] CryptoKong opened #437 "Staggered orders: Stop worker when centre price returns to starting point"
Addition of checkbox to allow possibility of stopping the worker when centre price returns to where it was when the worker was started.

[2019-01-19 20:11] CryptoKong commented on #432
this issue can be closed i just realised im on an ages old version, whoops!

[2019-01-19 20:55] bitfag commented on #432
Why close? This is still actual for the current version. Fixing this will require some refactor of the logic. Need some thinking and experimenting  on how to handle this best way.

[2019-01-20 08:13] CryptoKong commented on #432
Apologies. Probably should have let my workers run a bit to see what happened on latest version first, ive not had any orders filled yet. Re opened.

[2019-01-24 18:12] bitfag opened #438 "ZeroDivisionError in get_market_xxx_price()"
[code]

[2019-01-28 21:40] thehapax commented on #433
Ok I will discuss with Permie and then see if we can get this task assigned to you @g3d @PermieBTS

[2019-01-28 22:10] thehapax commented on #426
was this problem resolved? or it is still an outstanding error? @CryptoKong

[2019-01-28 22:19] thehapax commented on #434
@bitfag I marked this as a feature and assigned to you. What is the current status?

[2019-01-28 22:20] thehapax commented on #433
@PermieBTS can we get @g3d added as a contributor?

[2019-01-28 22:22] thehapax commented on #257
@bitfag can we mark this issue as closed?

[2019-01-28 22:25] thehapax commented on #319
relative orders CLI implementation is complete. GUI implementation is TBD

[2019-01-31 20:35] bitfag commented on #257
@thehapax no I don't think the original problem was resolved, I would like to keep this in the backlog queue, maybe this issue will show up later.

[2019-01-31 20:39] bitfag commented on #434
@thehapax the feature was implemented and I got positive feedback from Cryptobridge, probably I'll PR this soon when we will fully resume.

[2019-02-01 13:36] MarkoPaasila commented on #437
Relatively little bang for buck.

[2019-02-01 13:37] MarkoPaasila commented on #418
It sends a message to telegram each time a trade happens. It's a user friendly way of keeping an eye on the activity.

[2019-02-01 22:07] thehapax commented on #418
I would like to assign this task to myself.

[2019-02-03 10:21] bitfag opened #442 "SO: keep virtual orders state across restart"
Currently virtual orders are being reconstructed from scratch on each restart. This creates the following issues:

* If working mode changed & dexbot restarted, virtual orders will be restored according to a new mode. When switching from valley mode to mountain or neutral, this will create available funds which will be reallocated into closer-to-center orders.
* If orders size increase round is in

[2019-02-03 13:25] bitfag opened #443 "SO: suggestions for fallback logic"
When target spread is not reached for whatever reason, we have a fallback logic which cancels furthest buy or sell order to free funds for closer order. Analyzing trading history I observed that this behavior may not be always optimal. Shifting sell orders in some cases may cause selling asset cheaper than it was bought initially (observed with buy slope mode)

Suggestion: on the sell side, don't

[2019-02-03 13:56] bitfag opened #444 "SO: prevent moving liquidity away from center by increase logic"
In valley and neutral modes we have increase rounds staring from closest to center order. In conjunction with orders limiting logic it naturally causes moving liquidity from orders around center to further orders.

With center price fluctuations in small range this may looks like this (valley mode, order amounts in BASE on buy side and in QUOTE for sell side):

[code]

The problem is that closer-t

[2019-02-03 16:25] dev-x0 opened #445 "IndexError: list index out of range"
## Expected Behavior

I assume config just moves onto next step.

## Actual Behavior

Config outputs an error.

## Steps to Reproduce the Problem

1. dexbot-cli configure
2. configure up to point where cli asks for external price source
3. pick any price source eg. binance and select Ok, an error will appear and the config menu will close saying IndexError: list index out of range

## Specificatio

[2019-02-04 12:05] MarkoPaasila commented on #431
My last installation missed tabulate and ccxt. This was on a Raspberry Pi with Arch Linux ARM.

[2019-02-04 12:10] MarkoPaasila commented on #418
Would it be good to change the format to:
[code]
Instead of the current:
[code]
It's hard to decide which way to report price.

[2019-02-04 12:12] MarkoPaasila commented on #418
If this is done in relation to a worker, then we would know which way to report price, in which case the format could be:
[code]

[2019-02-04 13:47] bitfag commented on #418
Always report price in BASE, e.g. xxxx BASE/QUOTE (0.00010000 BTC/BTS from your example)?

[2019-02-05 05:33] thehapax commented on #444
@bitfag do you want to own the three SO tasks? if so, let me know. how many hours estimate each?

[2019-02-05 05:40] thehapax commented on #426
ok closing issue

[2019-02-05 05:40] #426 closed

[2019-02-05 05:42] thehapax commented on #436
@MarkoPaasila would you be interested in taking this issue? :)

[2019-02-05 05:43] thehapax commented on #444
assigning to @bitfag

[2019-02-05 06:48] thehapax commented on #271
@MarkoPaasila I am moving this back to Status:Available as we are now back in development. let me know if you have any objections.

[2019-02-05 06:48] thehapax commented on #271
@PermieBTS this task should be broken into smaller ones.

[2019-02-05 06:56] thehapax commented on #296
@MarkoPaasila @joelvai is this task still in-progress or should we close?

[2019-02-05 06:57] thehapax commented on #231
@MarkoPaasila still on hold or should we re-open for development?

[2019-02-05 06:58] thehapax commented on #330
@MarkoPaasila statistics sounds good. Shall we re-open?

[2019-02-05 06:59] thehapax commented on #195
@MarkoPaasila should we close this task?

[2019-02-05 07:00] thehapax commented on #183
@MarkoPaasila shall we close or this issue still a concern?

[2019-02-05 07:01] thehapax commented on #365
@MarkoPaasila close issue as we have #366 referenced?

[2019-02-05 09:54] bitfag commented on #444
@thehapax yeah, I already implemented described changes and now I'm testing them in production. Overall took 8h. They are not explicit bugfixes bug enhancements, so we can postpone them for later iterations (not include into bugfix sprint).

[2019-02-05 09:55] bitfag commented on #271
May be an Epic issue according to scrum terms.

[2019-02-05 09:56] bitfag commented on #296
Looks like an idea for later.

[2019-02-05 10:08] bitfag commented on #365
@NickDavison for automated running I suggest to use cli version of dexbot. It will just run all of the configured workers.

I considering restoring workers "running" state after GUI startup a bad idea because it cannot be expected behavior in 100% cases. As a clean solution, we may consider adding a per-worker setting like "Auto-start this worker on GUI launch".

[2019-02-05 10:11] bitfag commented on #432
FYI, I implemented a solution for that, currently testing locally now.

[2019-02-05 20:06] bitfag opened #446 "SO: not all broadcast errors are handled"
In `replace_virtual_order_with_real()` there are calls of `self.place_market_xxx_order()` which performed without trx bundling. Any raised exceptions from there cause worker stop. Need to handle exceptions here.

[2019-02-05 22:32] PermieBTS commented on #369
@joelvai whats the status of this issue?

[2019-02-06 06:55] thehapax commented on #432
ok assigning to @bitfag

[2019-02-06 06:59] thehapax commented on #444
@PermieBTS see bitfag's comment

[2019-02-06 10:43] bitfag commented on #309
Ok, the originally described issue is different from what I described in previous comment. I'd rather open a new issue for this. Original issue is something unique and windows-specific, and no one other reported it.

@matricea any news? Did you managed to run dexbot on windows?

[2019-02-06 10:51] bitfag opened #447 "Dexbot node connection may hang without reconnecting"
I'm experiencing time-to-time hangs, they are caused by interrupted communication with the node. For some reason pybitshares doesn't handling such situations, maybe because they are lower-level than pybitshares, maybe somewhere inside websocket libraries. Hard to debug because the exact way to reproduce is unknown.

How does it look:

1. Dexbot stuck
2. `strace -p dexbot_pid` will show that progra

[2019-02-06 11:27] MarkoPaasila commented on #444
Valley mode should always try to maximize order size as far as possible. It should start from the very furthest order and increase that if it can. If not, then the second furthest.

[2019-02-06 11:49] MarkoPaasila commented on #443
This fallback was initially for the case that the initial calculations are wrong. They seem pretty good, so this new fallback is totally ok. The other case is if we are one-sided, and cp moves away. In that case it's a tradeoff. If we can only make tiny orders, it will take a long time to get properly going, but if we remove the last order and make big closer orders, then we are "losing money". I

[2019-02-06 11:52] MarkoPaasila commented on #442
This is important. If operational depth is max, then the orders themselves contain all necessary information, but if we only place orders to some depth, then it is necessary to remember state. Otherwise we make losses.

[2019-02-06 11:54] MarkoPaasila commented on #436
Yes, I'll happily give it a try.

[2019-02-06 11:56] MarkoPaasila commented on #418
Yes I think that would be good, as the user supposedly decides which asset is his unit of measure (base) when configuring the strategy.

[2019-02-06 11:57] MarkoPaasila commented on #369
One solution is threads and/or async, and the other is batching order placements.

[2019-02-06 12:00] MarkoPaasila commented on #365
I think such a case where the user has some workers running and some not, a temporary situation, and the likely goal for all users is to have all workers running. Or is there a point in having a worker not running?

[2019-02-06 12:02] MarkoPaasila commented on #330
I think statistics are important. Do you like the idea of reporting with a single click? If it's as easy as possible, then people are likely to use it, but it won't violate privacy.

[2019-02-06 12:18] MarkoPaasila commented on #296
Are there other options? Making it scrollable? Flow into a second column?

[2019-02-06 12:20] MarkoPaasila commented on #271
Yes Epics are better since we use Scrum now. Can you close this issue once the epic is written?

[2019-02-06 12:22] MarkoPaasila commented on #231
I think the original suggestion by Kong could be useful. It shouldn't be hard, should it?

[2019-02-06 12:26] MarkoPaasila commented on #195
I guess so.

[2019-02-06 12:26] #195 closed

[2019-02-06 12:31] bitfag commented on #447
I tried to investigate this a bit.

1. Blocking the connection via iptables doesn't result in hanging of the process
2. I see `recvfrom` syscall only when non-SSL connection is used (direct ws:// node connection and DNS queries)

Just idea, the hanging could be caused by loosing connection to the DNS server (one of my DNS was connected through VPN). I'll watch further to determine if it was just a

[2019-02-06 13:26] bitfag commented on #444
@MarkoPaasila it's still very different from mountain mode. The goal is to mitigate consequences of order size limiting which happens when price moves back and forth filling only 1-2 orders deep. E.g. prevent turning valley into deeper valley.

Notice that furthest orders will be increased first if order is less than `closest order + 1 increment`. Let's assume 1 increment is 10%:

10 10 10 100 100

[2019-02-06 13:39] bitfag commented on #443
This fallback logic is currently being actively used when orders are partially-filled on both sides, that one of them became fully filled, the strategy basically don't have enough funds to replace PF order + place another closer order, so it needs to cancel furthest.

This #443 along with #444 and #432 fixes the problem, so fallback logic will be really fallback for some outstanding cases.

Starti

[2019-02-06 14:11] bitfag commented on #447
Ok, the stuck is only happening only when the bot tries to place an order. So this is nor a Notify issue neighter a DNS issue. Let's keep it open.

[2019-02-06 16:47] bitfag commented on #365
@MarkoPaasila Yes there is a point. Market conditions may change so user would like to temporarily disable worker (think relative orders). Cli user can edit config and comment out worker, but GUI user?

[2019-02-06 16:52] bitfag commented on #330
If you ask me, I would like to see something like checkbox "enable periodic statistic reporting". The following metrics are interesting:

* account name
* worker market
* worker strategy and mode

All metrics except account may be optional. These metrics are needed to assess strategy performance and find weak points.

[2019-02-06 16:57] bitfag commented on #231
The implementation should be relatively easy and the feature make sense if trading a volatile market. Just stop all trades if price moved too far.

[2019-02-06 17:29] bitfag commented on #447
strace log:

[code]

Last log line:
[code]

What's happened?

1. place_market_sell_order() called from staggered_orders.py. Bitshares bundling was enabled.
2. In base.py in place_market_sell_order() `sell_transaction = self.retry_action()` created a trx
3. Trx was sent in maintain_strategy() via `self.execute()`
4. No response from the node was received

[2019-02-06 17:51] bitfag commented on #447
In grapheneapi/websocket.py Websocket.connect() doesn't have a `timeout` kwarg specified, which means the socket created in blocking mode without any timeout. I set the timeout locally to see if it will fix the problem.

[2019-02-06 19:45] bitfag commented on #447
I was able to partially reproduce the issue on plain ws:// connection by blocking it with iptables. When operating on wss:// connection I didn't noticed socket blocking, that's why this issue was not affected most of the users.

Blocking with iptables performed via `iptables -A INPUT -s x.x.x.x -j DROP`. After removal of this rule socket connection resumes despite of `timeout=` option was set or n

[2019-02-06 20:28] bitfag commented on #257
I rechecked this issue and was unable to reproduce, because @joelvai touched the related code and fixed c9bfe009f5693c81bbd451b4d4f20e5bbd5557da maybe without intention :)

[2019-02-06 20:28] #257 closed

[2019-02-06 22:48] PermieBTS opened #448 "UI Add description to the wallet password create - Users confused"
Lots of users are confused by the local wallet created by DEXBot to encrypt their active keys.
Adding a small text explaination would help alot

[2019-02-07 00:06] thehapax commented on #365
@MarkoPaasila i agree. there exists cases where you don't need to run workers, especially when testing or switching between various strategies. There should be an config option in the GUI that allow for "run all" or "run only selected"

moved this status to available if someone wants to implement.

[2019-02-07 00:13] thehapax commented on #183
@MarkoPaasila changing status to available for any one who wants to take ownership

[2019-02-07 00:14] thehapax commented on #271
@MarkoPaasila @bitfag I am assigning this epic issue to @PermieBTS

[2019-02-07 00:16] thehapax commented on #296
opening this issue to the public. @joelvai @MarkoPaasila . if you want to claim it for yourself feel free

[2019-02-07 00:18] thehapax commented on #369
@PermieBTS also assigning to permie as this is an epic issue

[2019-02-07 00:20] thehapax commented on #436
@PermieBTS assigned this task to @MarkoPaasila

[2019-02-07 10:00] bitfag commented on #271
@thehapax maybe add a new label "Epic" to be able to quickly find these issues?

[2019-02-07 10:04] bitfag commented on #436
@thehapax there is a slight collision because Cryptoclara in "DEXBot Contributors Waiting Room" also wanted to take that issue.

@PermieBTS we need public bounty workflow and public list of bounties.

[2019-02-07 10:47] MarkoPaasila commented on #448
"A password for encrypting the file that contains your private keys"

[2019-02-07 10:50] MarkoPaasila commented on #436
I'm happy to let Cryptoclara reserve this.

[2019-02-07 16:44] bitfag commented on #389
@Cobb-Chang I'm sure you had some outdated version of python-bitshares. Please try latest dexbot release. If it will not help, try cleaning up old versions of python-bitshares manually. If you need assistance, join our telegram channel https://t.me/DEXBOTbts

[2019-02-07 16:44] #389 closed

[2019-02-07 16:54] bitfag commented on #342
This seems like just a local connection issue, not a dexbot-wide issue. @cloud-8 if you still experiencing any problems, please join our telegram group https://t.me/DEXBOTbts and we will try to investigate your issue.

[2019-02-07 16:54] #342 closed

[2019-02-07 17:17] bitfag commented on #364
@NickDavison "attempting to sell 0" is an another error which is probably not fixed yet, and was reported as #276 which I'll try to fix a bit later.

Regarding  original error `TypeError: float() argument must be a string or a number, not 'dict'`, please try the latest version of dexbot and feel free to reopen the issue if you'll get that again.

[2019-02-07 17:17] #364 closed

[2019-02-07 18:29] bitfag commented on #367
Very strange case. Example code to emit such error:

[code]
`>>> TypeError: 'NoneType' object is not subscriptable`

But in price.py we have the function call which returns just empty list when querying unexistent object:

[code]
`>>> [None]`

Which doesn't result in TypeError:
`[None][0]`
`>>>`

[2019-02-07 18:55] PermieBTS commented on #369
@MarkoPaasila why mightn't this be an issue on cli?

Is it the problem of the bot taking ages to do all the calculations and cycle through placing the inital orders?

Does the same time-lag problem exist once SO orders are placed? (In the long term running after intial setup)
Staggered orders itself is generally a slow placed strategy.

Async would make a big difference, but only for the time-sens

[2019-02-07 19:04] bitfag opened #450 "SO: disallow spread == increment"
We have a check `if self.target_spread < self.increment:` which must ensure `spread > increment`, but it allows `spread == increment` which is a no-no. Need to correct the check.

[2019-02-07 19:26] bitfag commented on #367
Ok, since we don't know how to reproduce this bug, I've added a logging of order_id in case of Exception. This will help to catch this in the future.

[2019-02-08 09:10] bitfag commented on #369
@PermieBTS PyQT (GUI) is async, it has event loop inside. The rest of the dexbot is synchronous. It means when the program execution switching from GUI to any worker, GUI execution is on hold, it just waits until worker will finish current task and return.

Async and/or multithreading allows parallel execution of all dexbot subtasks.

With cli, there is no a GUI which can freeze. So, workers are j

[2019-02-08 09:31] MarkoPaasila commented on #450
Should we ensure spread is at least increment + market fee + some extra? Assuming market fee is 0.2% both ways, and there's the order creation cost, spread should be at least increment + 0.5%.

[2019-02-08 09:36] MarkoPaasila commented on #330
@bitfag that's a good idea. It will be of interest to see:
- What markets are being improved with DEXBot
- How much money is invested in market making with DEXBot
- What strategies and modes are actually used

Should this be made into an epic, as the feature is of no use without the necessary infrastructure

[2019-02-08 09:45] bitfag commented on #450
Good point, market fee should be taken into account.

Limit order create fee is matter only if order amounts are low. On huge orders even spread of `increment + 0.01%` may cover blockchain fees.

[2019-02-08 09:54] bitfag opened #453 "get_market_fee() returns wrong fee"
`get_market_fee()` in base.py returns market fee of `self.fee_asset`. It is surprising how we missed it. It is not we need at all, market fee is fee paid for buying some asset. E.g. the function must take "asset" as argument and return market fee for that asset (not self.fee_asset).

Because of wrong market fee, `get_market_xxx_price()` also returns slightly distorted values.

[2019-02-08 09:55] bitfag commented on #450
Thnx @MarkoPaasila, just discovered #453 looking into market fee. :rofl:

[2019-02-08 10:01] MarkoPaasila commented on #453
So currently `get_market_fee()` get's the market fee for the defined fee asset, not the quote or base? Yes that's wrong. But the order creation fee still needs to use fee asset, so make sure not to mess that up

[2019-02-08 10:17] bitfag commented on #453
Sure, for this there is a separate method `get_order_creation_fee()` which doesn't use `get_market_fee()`.

[2019-02-08 11:01] bitfag commented on #453
Ok I think `get_market_fee()` is just redundant method because it just references an asset property. Fee info getting is as simple as calling `self.market['quote'].market_fee_percent`

[2019-02-08 14:04] PermieBTS opened #454 "1 Satoshi Bot strategy feature - Always be first in the orderbook queue"
Cryptokong

Brief description:

This worker will place a buy or sell order for an asset and update so that the users order stays closest to the opposing order book.

Moving forward: If any other orders are placed closer to the opposing order book the worker will cancel the users order and replace it with one that is the smallest possible increment closer to the opposing order book than any other o

[2019-02-09 14:02] PermieBTS commented on #417
So this is a feature request for a new strategy basically..

Could it be added to kong's satoshibot?

[2019-02-09 14:03] PermieBTS commented on #417
So this is a feature request

Could this be added to kong's satoshi bot?

[2019-02-09 14:05] PermieBTS commented on #396
I'll try and get this done this week

[2019-02-09 14:08] PermieBTS commented on #416
I like it
Let's revisit this in a month.

[2019-02-09 14:09] PermieBTS commented on #388
Closing this issue

[2019-02-09 14:09] #388 closed

[2019-02-09 14:10] PermieBTS commented on #369
async development is in discussion.

Closing this issue

[2019-02-09 14:10] #369 closed

[2019-02-09 14:12] PermieBTS commented on #368
Is this a small task?
Would it fit within a bugfixing sprint? (Although its not a bug)

[2019-02-09 14:14] #327 closed

[2019-02-09 14:15] PermieBTS commented on #297
async development is in discussion

[2019-02-09 14:15] #297 closed

[2019-02-09 14:20] PermieBTS commented on #271
https://www.yodiz.com/blog/what-is-epic-in-agile-methodology-definition-and-template-of-epic/

[2019-02-09 14:24] PermieBTS commented on #189
* Combined account's values measured in USD (or whatever user chooses)

    * Combined profit over 1 week in USD

    * Total value of liquidity provided of all worker from whole history

    * Updates available

    * Version

    * Latency

    * Node

    * Uptime

Id like to see these implemented ~after some bigger jobs.
Revisit next month

[2019-02-10 08:45] bitfag commented on #368
upitck is already in setup.py, so it expected to be installed. @MarkoPaasila what package you meant?

[2019-02-10 13:51] bitfag commented on #450
@MarkoPaasila ok, I added a proper check now which takes market fees into account.

[2019-02-11 19:33] bitfag commented on #194
GUI don't freezes now (at least with one worker) because Staggered Strategy now places only 2 orders per maintenance. Old SO placed all orders at once.

[2019-02-11 19:33] #194 closed

[2019-02-11 21:50] PermieBTS opened #458 "Reconfigure/remove cli configure"
Cli config is clunky and could be removed.

Document the parameters and give examples.

[2019-02-12 18:02] bitfag commented on #431
Confirming missing tabulate.

ccxt is installed.

[2019-02-12 18:24] bitfag opened #460 "Combine project dependencies into single place"
We have one part of dependencies in requirements.txt, and another one inside setup.py. This seems confusing. In devel slack we'we discussed it's good idea to merge all deps into single place (probably requirements.txt).

[2019-02-12 18:48] thehapax commented on #460
self assigning and merging with #455

[2019-02-12 20:48] bitfag commented on #309
The error "RuntimeError: dictionary changed size during iteration" looks like the same dict() object was modified from another thread while it was used somewhere else. Since no one reported similar problem I wonder what exact actions sequence of @matricea did to get that error. Maybe there is a way to reproduce?

[2019-02-12 21:12] bitfag opened #461 "Implement auto-adding discovered strategies into GUI"
Currently to add a strategy into GUI it is required to edit dexbot/controllers/worker_controller.py and add a new strategy into `strategies()`. Without this the strategy will not appear in the GUI.

Solution: implement discovery mechanism to auto-add strategies into GUI. Strategies must hold some attribute saying "I'm a GUI-ready strategy, add me", otherwise they are cli-only.

[2019-02-12 21:23] bitfag commented on #454
What are default values for lower/upper bounds? What behavior must be if bounds are set to 0? Does it means "no bounds"?

[2019-02-12 21:26] bitfag commented on #454
Why only "buy / sell" modes? How about " buy + sell" (both)?

[2019-02-12 22:14] Soggydan opened #462 "ZeroDivisionError in update_gui_profit()"
## Expected Behavior
initialise worker and complete buy and sell order then continue to run

## Actual Behavior
stops after buy order placed with this error

## Steps to Reproduce the Problem

  1. use large orders
  2. different coin
  3.

## Specifications

  - Version:
  - OS:  windows 10
![image](https://user-images.githubusercontent.com/47578440/52671520-33b69a80-2f13-11e9-956d-5f286061de3c.p

[2019-02-12 22:15] Soggydan commented on #438
had same issue, reported on #462

[2019-02-13 07:17] thehapax commented on #462
linked issue to #438

[2019-02-13 07:18] thehapax commented on #461
@PermieBTS epic issue

[2019-02-13 07:50] cloud-8 commented on #416
So this task is to provide sum total of amount of the asset in either side of a market? E.g. ZEPH/BTS it would provide total ZEPH (sum of all open order + balance) and total BTS (sum of all open orders + balance). Then provide a spreadsheet of every block? keep in mind every block is quite alot of data, most orders dont get filled for days in many markets, thus there will be 99.99% bloat in a spre

[2019-02-13 07:54] cloud-8 opened #463 "Mainstream packaging per OS"
For DEXbot to really reach a wider audience we need to do away with the need to install anything via cmd line for the GUI. We also always face problems related to necessary packages not being present or installed on people's computers which results in all manner of errors.

For windows the common install mechanism is via an install wizard, this should be the case.
For OSX it is a .dmg file that is

[2019-02-13 09:19] bitfag commented on #462
No it's not related to #438.

[2019-02-13 09:29] bitfag opened #464 "Broad unittest coverage"
Currently the project is lacking of automated testing. An obvious solution is to cover most things with unittests. StrategyBase and all built-in strategies should be covered.

Lots of functions requires API calls and bitshares node. Real node interaction can be omitted by using a fixtures and mocks (simulate API calls and responses).

[2019-02-13 09:49] CryptoKong commented on #454
Default upper and lower bounds shouldnt be set to no limit, we dont want noobs leaving it and being manipulated. Im open to suggestions on this.

0 can mean no bounds, thats fine. Just not set as default.

Buy and sell is fine. Some people will only have 1 asset so the intention was to allow people to use the strategy one sided. As long as it can be used with 1 asset only then thats fine.

[2019-02-13 11:27] PermieBTS commented on #461
This would tie in to a "custom strategy" feature wouldnt it?
Where the user could write a private strategy and add it to their own personal isntance of DEXBot

Big project.
Review in 1 month

[2019-02-13 12:06] bitfag commented on #454
@CryptoKong GUI needs some default value to display, if it is not 0, than what?

The strategy will not cross lowest ask or highest bid, e.g. will not fill orders, only place "maker" orders.

[2019-02-13 12:18] CryptoKong commented on #454
Ok maybe 0 should be default as i dont know how you could have a default price for different markets without using highest buy/ lowest sell as refference.

[2019-02-13 19:27] PermieBTS commented on #454
Is this strategy the same as scalping?
A relative orders strategy that;
- continuously closes the spread such to remain the best offer on the orderbook by at least one satoshi
-  until it executes a trade or the user stops it.

If user could choose to make either both sides of the market or just one.. then couldn't this feature be made as additional options for relative orders couldn't it?

Does i

[2019-02-13 19:27] PermieBTS commented on #454
https://www.reddit.com/r/CryptoTraderNetwork/comments/aq2oho/binance_bot_crypto_bot_market_making_strategies/

Scalping binance bot

[2019-02-13 20:26] bitfag commented on #454
Yeah this strategy can be implemented as additional options to relative orders, though I think it's not a best idea to mess them up.

Also, the current Tech Spec is describing a "dumb" strategy which just stays on top in bounds. If I would consider a scalping strategy it will be a bit different. Basic idea:

* If start only buy-sided, wait until buy order filled. Then place a sell order at `buy_pr

[2019-02-13 22:21] RobJah opened #466 "Can the order-replacement delay interval be customised in the GUI?"
Beloved Dexbot Devs,

When a worker makes some big gains it cancels orders n replaces m with bigger ones. This is in principle a fantastic thing, but can really keep my workers busy right when the action is happening and the worker should be focussed on just maintaining its orderbooks.

Can this mechanism for instance be made to run on a 30min interval, or be accessible as a function in the gui?

[2019-02-14 07:56] bitfag commented on #466
In Staggered Orders, maintaining spread has higher priority over allocating profits. It means if an order around center was filled, opposite-side order will be placed **before** allocating profits.

When the worker has nothing to do, it raises check interval up to 120 seconds. This is why it may react to filled orders with a delay. Meanwhile, other workers can be busy allocating profits.

[2019-02-14 10:50] bitfag commented on #454
@CryptoKong "Order size to be placed" may be expressed in BASE, QUOTE, or as two separate options (in BASE for buy orders and in QUOTE for sell orders). Please clarify how exactly order size should be specified.

[2019-02-14 13:44] bitfag opened #467 "cancel_orders() should return True only when cancel was success"
cancel_orders() may return True even if `self._cancel_orders()` returned False.

[2019-02-14 15:41] RobJah commented on #466
Sounds good. When I look at the clients in which i run 10 workers, this really is an issue. Sure the worker itself might not instantly start allocating, but because i have multiple BTS-market-workers those are all active within the same 15 or 30 min. Therefore they cockblock eachother. Could the interval be hightened? Or could the interval be personalized by making it accesible through the gui?

[2019-02-14 17:02] MarkoPaasila commented on #368
I meant that the uptick cli tool should be made available to windows users who download the zip. Maybe it already is?

[2019-02-14 17:43] MarkoPaasila commented on #416
@cloud-8 no, the point would be to return a list of accounts and total amount of liquidity or volume they have provided each.

something like:
$ monitor-liquidity.py btsusd
which would return a table with following columns:
account, liquidity_asset1, liquidity_asset2, volume_asset1, volume_asset2

I don't know if it should be _oneshot_, on a continuing basis, or something else. I'm not sure how mu

[2019-02-14 17:47] MarkoPaasila commented on #417
I think it should be separate. Having a clear goal will direct the evolution of the strategy to maximally perform on that single metric. The name and purpose will unambiguously convey the sole purpose of the strategy, and will help people make use of it. The goal of 1satbot would be to stay on top, regardless of the cost or consequences. That's pretty different from "buy something cautiously".

[2019-02-14 17:53] MarkoPaasila commented on #461
Did anyone review IanHaywoods pull request for strategy sideloading using pip/pypi?

[2019-02-14 17:55] MarkoPaasila commented on #463
No, let's not "do away with" cli installation, but possibly gradually add/improve builds and installers for the most common operating systems.

[2019-02-14 17:56] bitfag commented on #466
Min/max check intervals are hardcoded in the code to 3 and 120 seconds respectively. Adjusting these intervals may help, but real problem is that dexbot overall slow because it is synchronous (everything executed step-by-step and not in parallel). As a solution I already proposed refactor the whole dexbot with async support.

Related to #297 #369

[2019-02-14 17:58] MarkoPaasila commented on #466
@RobJah it's not clear that replacing orders faster increases profits. In fact I have observed the very opposite. I'm not capable of quantifying the effect, so I can't suggest any intelligent logic to benefit from the phenomenon.

[2019-02-14 18:02] bitfag commented on #368
This brings pretty big question who is actually responsible for the windows package. Nor I or @thehapax are running windows.

[2019-02-14 18:11] bitfag commented on #461
Ok I reviewed that commit 99e2b1431f46133e5b4e584564c4381d24da965b
Looks like auto-discovered strategies are added into cli/GUI automatically. I didn't used that possibility so just didn't aware it's even exists.

[2019-02-14 18:11] #461 closed

[2019-02-14 19:37] RobJah commented on #466
Im not saying anything is more profitable for you but for me it is a problem that when 2 workers are allocating profits, and another one gets a lot of action, that the replacing of those filled orders is going less fast.

But, I am pleased with bitfag's last reply and hope his suggestion on speeding things up delivers.

[2019-02-14 20:37] CryptoKong commented on #454
if a user has inputted which market pair they wish to trade in and inputted which is base and quote, can "order size to be placed" depend on which way round they inputted earlier? Perhaps 2 "order size to be placed" fields depending on if its a 1 sided setup?

[2019-02-15 11:04] CryptoKong commented on #466
Async should speed up order replacements once implemented?

[2019-02-15 17:58] bitfag commented on #466
Basically it will allow one worker to work while another worker is waiting IO. Running worker now spending time to IO waiting while blocking all other workers.

[2019-02-15 18:22] thehapax commented on #466
@RobJah @CryptoKong  can we rename to something more descriptive of the issue instead of `@CryptoKong make me post this?`

[2019-02-15 18:42] thehapax commented on #460
marking this as closed since joelva merged it

[2019-02-15 18:42] #460 closed

[2019-02-15 19:12] thehapax commented on #463
cli needs to stay.

[2019-02-15 19:14] thehapax commented on #448
User should be made aware that this wallet is part of uptick, run with dexbot locally and not the cloud or bin wallet on bitshares dex.

[2019-02-15 19:15] thehapax commented on #448
uptick and its password is also not uninstalled by default when dexbot it uninstalled/reinstalled

[2019-02-15 19:22] bitfag commented on #454
You anyway need to specify market pair to define on second asset to trade against.

Ok, probably there should be two separate options too for buy and sell side.

[2019-02-16 12:00] bitfag opened #469 "cli.py configure validation problems"
Numeric symbols in asset names trigger error:

[code]

[2019-02-16 12:03] bitfag opened #470 "cli.py configure "market" setting is confusing"
[code]

Market offered as BASE:QUOTE while it actually QUOTE:BASE

[2019-02-16 12:04] bitfag opened #471 "cli.py configure uses : as market separator"
[code]

Using ":" will lead to further errors because in some places in the code only "/" accepted as a separator.

[2019-02-16 12:16] bitfag opened #472 "No documentation on creating custom strategies"
* How to start on custom strategy
* Best practices in strategy logic
* How to make strategy auto-discoverable
* How to package strategy
* How to add strategy into GUI
* How to set fields/checkboxes dependencies in the GUI
* How to add strategy into cli configure

[2019-02-16 12:59] bitfag opened #473 "strategy_template.py error() should set self.disabled to True"
`self.disabled = False`, should be True.

[2019-02-16 13:09] bitfag opened #474 ""Worker is disabled" log flooding"
Currently events are passed to disabled workers resulting in log flooding with "Worker is disabled" message.

Instead, I propose to emit this at "error" loglevel and only once (don't pass events to disabled workers).

[2019-02-16 20:35] bitfag opened #475 "Inconsistent invert in place_market_sell_order()"
If sell order placed, sell_order.invert() called only if `sell_order['deleted']` condition met. This is not right. `invert()` must be called in either cases or not called at all.

[2019-02-17 03:18] thehapax opened #476 "CLI-configure : missing the option to add the wif keys"
from Gabriel: we are missing the option to add the WIF keys in the present menu flow offered by the present dexbot-cli configure command. Feature requested

[2019-02-17 23:42] thehapax commented on #472
@PermieBTS i actually think some of this documentation would be a good first for a new dev. This way they get a chance to explore the codebase and demonstrate they understand it

[2019-02-18 06:28] thehapax commented on #471
making pull request

[2019-02-18 06:36] thehapax commented on #470
editing text to be seen as  BitShares market to operate on, in the format "QUOTE/BASE, for example "BTS/USD" [BTS/USD]" . let me know if that is OK.

[2019-02-18 06:37] thehapax commented on #470
also - "Manual center price - In an immature market, give a center price manually to begin with. BASE/QUOTE [0.00000000]: "

should this be represented as QUOTE/BASE ? or leave as BASE/QUOTE?

[2019-02-18 06:45] bitfag commented on #470
Price should be in BASE/QUOTE.

[2019-02-18 06:50] thehapax commented on #471
@PermieBTS I vote we are consistent across the board and drop the ":" and use "/" as a separator.

[2019-02-18 12:05] bitfag commented on #309
Ok I removing this from sprint because we didn't get any additional data. Let's wait until someone reproduce this.

[2019-02-18 18:46] PermieBTS commented on #472
Sounds good to me

[2019-02-19 00:11] thehapax commented on #448
@PermieBTS i'm adding a message to the cli configure on initial setup for wallet password create.

[2019-02-19 00:13] thehapax commented on #472
@PermieBTS perhaps ask Jacko is he is interested?

[2019-02-19 04:06] thehapax commented on #458
I am investigating refactor cost and itemizing to-do items.

[2019-02-19 08:16] thehapax commented on #445
I find this bug to be introduced during @joelvai 's refactoring in december where the "none" option is commented out.

https://github.com/Codaone/DEXBot/commit/a7015edf8e411ac8ab351d143aca11bc408915d4#diff-6a2e0d37f88f35d4bcc3e1d9da39a4b4

suggest default value to be `none` in config element instead of exchanges[0] . will continue to look at this tmr.

[2019-02-19 09:27] bitfag commented on #90
Closing as this was fixed long ago.

[2019-02-19 09:27] #90 closed

[2019-02-19 09:29] bitfag commented on #159
There is probably no such bug now.

[2019-02-19 09:29] #159 closed

[2019-02-19 09:31] bitfag commented on #218
Ok, we have wiki page on OSX:
https://github.com/Codaone/DEXBot/wiki/Setup-Guide-for-Mac-OS-X-10.12-or-higher

[2019-02-19 09:31] #218 closed

[2019-02-19 19:19] bitfag opened #482 "update_gui_slider() uses db query to get orders balance"
Instead, it should just query orders balance from the API.

[2019-02-20 01:13] thehapax commented on #476
related to #458

[2019-02-20 07:38] manikey123 commented on #326
can anyone help share the location for the update version ?

[2019-02-20 08:01] manikey123 commented on #474
claiming the issue @thehapax @PermieBTS @bitfag

[2019-02-20 10:22] bitfag commented on #326
Releases are located in https://github.com/Codaone/DEXBot/releases

[2019-02-21 10:05] PermieBTS commented on #474
Hello @manikey123
Are you in the DEXBot Telegram?
t.me/DEXBotbts

[2019-02-21 10:16] PermieBTS opened #490 "Move DEXBot.log file to the install folder"
## Expected Behavior
DEXBot.log file is in the install folder

## Actual Behavior
DEXBot.log file is currently created in the folder in which dexbot command is run

## Steps to Reproduce the Problem
Ensure dexbot.log in created inside the install folder upon installation
  1.
  2.
  3.

## Specifications

  - Version:
  - OS:

[2019-02-21 10:17] PermieBTS opened #491 "Make sure .pid file option is available for DEXBot"

[2019-02-21 19:19] bitfag commented on #490
I investigated this a bit and found some controversy:

* cli version logs into 'dexbot.log' in current directory
* gui version logs into user_data_dir/dexbot.log, where user_data_dir is ~/.local/share/dexbot on linux

It's logical to have the same location for both version, though it will mess the things if user running several dexbot instances simultaneously (I personally use this)

[2019-02-21 19:27] bitfag commented on #491
`--pidfile` option for cli.py working as expected.

[2019-02-21 19:27] #491 closed

[2019-02-21 23:12] gabev commented on #490
...second that !

[2019-02-21 23:56] PermieBTS commented on #490
Go ahead vvk

[2019-02-22 12:32] PermieBTS commented on #471
@thehapax I agree

[2019-02-22 12:39] PermieBTS commented on #326
Assiging Cryptoclara for an agreed bounty of $300 to develop this functionality for cli only

[2019-02-22 13:17] daveydd commented on #434
I really like this feature? Now I have to create several account in CB and serveral workers to get this done. With the feature I don't need those extra CB accounts anymore.

[2019-02-23 10:40] bitfag opened #494 "RO: reset_on_price_change should be unset when user sets center_price_dynamic to False"
## Expected Behavior

Auto-disable reset_on_price_change

## Steps to Reproduce the Problem

  1. Enable reset_on_price_change
  2. Unset center_price_dynamic
  3. reset_on_price_change grayed but enabled
  4. Error "Reset orders on center price change" requires "Dynamic Center Price"

[2019-02-24 00:42] thehapax opened #496 "Add check for newt package on OSX (cli-configuration)"
In order for the cli configuration whiptail style menu system to work properly on OSX, the installation script should check to see if the newt package is installed. Currently, the end-user has to manually install via `brew install newt`. This process should be automated.

[2019-02-24 02:16] manikey123 commented on #326
Below is the researched approach. Kindly review and once you are fine with the approach, I can start implementation:

1. Get current version:
Through global config get current version and print in the log file

2. Reporting if version got updated:
Go to dexbot/__init__.py
Perform git diff as below command :
git diff HEAD dexbot/__init__.py
Parse the output to search for keyword "VERSION"
If keywor

[2019-02-24 04:10] cloud-8 commented on #463
Do away with the need. Not do away with the cmd at all. Lets actually make a working product for the masses please...

[2019-02-24 04:12] cloud-8 commented on #463
This has been with the 'in discussion' label for 2 weeks and also has the 'huge task' label. Yet I dont see how this is more complicated than the existing discussions on implementing more obscure strategies. Firstly lets have a working product for everyone then lets have a additional strategies, its about prioritisation.

[2019-02-24 09:41] bitfag commented on #326
Version checking should not rely on `git diff`. Installing via git is only one possible option.

Why not do that in following way?
* Obtain current version from dexbot/__init__.py
* Use github API to obtain latest release https://developer.github.com/v3/repos/releases/#list-releases-for-a-repository
* Compare versions

[2019-02-24 09:47] bitfag commented on #326
Also, as I understand the task, there should be a GUI indicator when update available, not just a log message. In the GUI there is a bottom line "ver x.x.x, node delay: xxx ms", probably indicator should be here too. Like a red writing "Update to version X.Y.Z is available".

[2019-02-24 14:57] PermieBTS commented on #472
Jacko is looking into it

[2019-02-24 18:38] bitfag commented on #204
To provide best user experience, I would like to propose implementing built-in trading and transfer history collector and analyzer. It's data can be used for creating profit/loss reports or even to use in strategy logic.

I already did a separate tool https://github.com/bitfag/bitshares-tradehistory-analyzer , so it can be implemented as built-in and be more specific.

[2019-02-24 20:18] PermieBTS commented on #464
Ive found a potential new dev who may be able to start tackling this
Not confirmed

[2019-02-24 20:23] PermieBTS commented on #466
Issue should be solved once DEXBot is async.

Closing this issue

[2019-02-24 20:24] #466 closed

[2019-02-24 20:27] PermieBTS commented on #463
This is an important issue and the install packages will be developed. Not just now, but once we've ironed out the kinks in the software and tackled the higher-priority testing process it will be done.
Better to fine tune the product before "launching" for mainstream via install packages

[2019-02-24 20:28] PermieBTS commented on #454
King of The Hill will be released once there has been thorough user testing.
Testing DEXBot is a priority

[2019-02-24 20:34] PermieBTS commented on #417
New features such as this will have to wait until testing and refinement of the strategies that we already have

[2019-02-24 20:38] PermieBTS commented on #303
I've found a potential dev who might be able to tackle some of this

[2019-02-24 20:56] PermieBTS commented on #189
Remove label: Requires Discussion

(I cant find instructions on how to remove the label from this issue... only to delete the label from the whole repo :/ )

[2019-02-24 20:58] PermieBTS commented on #278
Remove Label: Requires Discussion

[2019-02-24 21:01] PermieBTS commented on #463
Remove label: Requires Discussion

[2019-02-24 21:02] PermieBTS commented on #454
Remove Label: Requires Discussion

[2019-02-25 10:33] bitfag opened #497 "SO: Improve exception logging"
When broadcastig a trx an exception may occur which is printed by `traceback.print_exc(file=sys.stdout)`. The problem is that it isn't getting written in log. Use `self.log.exception` instead.

[2019-02-25 12:44] Jackodb commented on #472
Just as a confirmation!

[2019-02-25 13:39] PermieBTS commented on #445
Is there a planned fix for this bug?

[2019-02-25 13:40] #367 closed

[2019-02-25 13:41] #276 closed

[2019-02-25 13:46] PermieBTS commented on #496
Related to Install packages issue 463

https://github.com/Codaone/DEXBot/issues/463

[2019-02-25 13:50] bitfag opened #499 "bitshares/market.py: ValueError: could not convert string to float:"
This is a library issue but affects dexbot leading to "Worker xxx is disabled".

[code]

[2019-02-25 13:58] #469 closed

[2019-02-25 14:00] #462 closed

[2019-02-25 14:03] #453 closed

[2019-02-25 14:04] PermieBTS commented on #450
@bitfag what is the status of this issue?

[2019-02-25 14:04] #448 closed

[2019-02-25 14:05] #446 closed

[2019-02-25 14:09] bitfag commented on #499
Upstream issue: https://github.com/bitshares/python-bitshares/issues/186

[2019-02-25 14:11] #431 closed

[2019-02-25 14:18] PermieBTS commented on #363
Maybe jacko would be interested in this

[2019-02-25 14:26] #235 closed

[2019-02-25 14:28] #65 closed

[2019-02-25 18:27] g3d commented on #433
@PermieBTS why closed?

[2019-02-25 19:18] bitfag commented on #467
@PermieBTS the fix is not merged anywhere yet.

[2019-02-25 19:20] bitfag commented on #450
@PermieBTS  See above, merged into devel https://github.com/Codaone/DEXBot/pull/452

[2019-02-25 19:22] bitfag commented on #434
@PermieBTS it's not yet merged anywhere, I'll reopen.

[2019-02-26 07:20] bitfag commented on #204
Agreed with @PermieBTS to implement this feature during this week.

[2019-02-26 08:57] bitfag opened #500 "Develop plugin-like infrastructure"
We need to run a non-market worker tasks inside dexbot, like history downloading or analysis workers or whatever.

To achieve this, we may extend WorkerInfrastructure() class by importing and launching "plugin" tasks.

[2019-02-26 12:22] bitfag commented on #500
I researched this topic a bit. In current WorkerInfrastructure() it's possible to initialize plugin tasks as a regular workers and allow them to set subscribe callbacks. Later, it will require a major refactoring when switching to asyncio core.

Another approach is to write plugins in async manner and run them inside a separate thread with dedicated asyncio loop. Example: https://hackernoon.com/co

[2019-02-26 17:10] PermieBTS commented on #433
My understanding from gabriel was the docker was sufficient.
Apologies, ive re-opened

[2019-02-27 10:03] bitfag commented on #445
Ok, I'm able to reproduce the problem only by using a input value outside of proposed:

[code]

[2019-03-01 02:23] thehapax commented on #445
I already made the fix on my branch here, the bug i did not find on whiptail. https://github.com/thehapax/DEXBot/tree/445-index-error

Why are we making the assignment of this redundant? @PermieBTS @vvk

[2019-03-01 03:37] thehapax commented on #458
@PermieBTS just to be clear I am still working on this issue and it is the bulk of my time rightnow

[2019-03-01 03:38] thehapax commented on #476
@PermieBTS I am still working on this issue

[2019-03-01 06:51] thehapax commented on #319
@PermieBTS  This issue is complete a long time ago. Joelva already completed the GUI implementation, disregard Jan 28 note. If there is a need for any further update, lets make it a separate issue. thanks

[2019-03-01 06:52] #319 closed

[2019-03-01 09:01] bitfag commented on #445
@PermieBTS asked me to look into this bug.

[2019-03-01 09:05] #445 closed

[2019-03-01 09:06] #470 closed

[2019-03-01 10:37] PermieBTS commented on #445
There was some confusion between octo and I over reassigning this issue to vvk.
My apologies

[2019-03-01 11:55] #438 closed

[2019-03-01 11:55] #450 closed

[2019-03-01 11:55] #467 closed

[2019-03-01 19:42] bitfag opened #504 "Arbitrage strategies"
To implement arbitrage strategies dexbot-wide, we need to make a common middleware (hope this is a correct term) which will serve as intermediate between strategy and particular CEX API. So we're not reimplementing strategy for every new exchange.

Strategy —-> middleware —--> bittrex / coinbase / binance / etc

[2019-03-03 10:35] bitfag opened #505 "Bitshares txbuffer must be reset when switching workers"
1. Setup one SO worker with no key

[code]

2. Error will be raised in another workers too because self.bitshares.txbuffer is common for all workers.

Soluition: reset txbuffer on error

[2019-03-04 13:24] PermieBTS commented on #396
BBF have no plans to add outside projects.
Issue closed

[2019-03-04 13:24] #396 closed

[2019-03-04 13:25] PermieBTS commented on #464
bitProfessor has been commissioned to conduct unit tests starting tomorrow

[2019-03-04 13:26] PermieBTS commented on #464
https://github.com/bitprofessor

[2019-03-05 17:16] RobJah opened #506 "Gui hits a (not responding) and doenst recover"
This issue surfaced after the latest upgrade. Every day since the upgrade my dexbot gui completely freezes with no chance of recovering, no buttons respond which only leave the option to terminated it by force.

## Expected Behavior
like ever before:
1 start dexbot gui;
2 turn on workers with some time in between to make sure the software can compute;
3 keep gui running for weeks without turning a

[2019-03-06 06:49] joelvai commented on #506
This problem is caused by bug in the Bitshares Core [issue #1620](https://github.com/bitshares/bitshares-core/issues/1620). I can take a look to fix this by updating the pybitshares to version 0.3.0.

[2019-03-07 07:13] RobJah commented on #506
Hi

I have reverted back to the previous version, which now gives me the same trouble.
Not as frequent as the latest version, but still there are total freezes non the less.

[2019-03-10 19:59] PermieBTS opened #507 "Refactor to separate the config files from the strategies"

[2019-03-13 13:28] bitfag commented on #507
@PermieBTS can you add some description for this issue? I wonder if it's duplicate of #458 ?

[2019-03-13 13:58] bitfag opened #509 "Nonexistent account name handling while creating a worker with cli configure"
Try to create a worker, then enter nonexistent account name, worker configuration will be interrupted. Expected: re-prompt for account name.

[code]

After this, if try to display worker detail, an exception occured:

[code]

[2019-03-13 20:52] PermieBTS commented on #507
You're right
Closed

[2019-03-13 20:52] #507 closed

[2019-03-16 16:18] MarkoPaasila opened #511 "Calculate correct amounts and prices for orders"
DEX orders can be always accurately expressed as fractional numbers, not decimal numbers. Strategies should calculate the exact fractional price and amounts that are actually possible, and use those values in the logic. They can be represented accurately enough using floats, but not every float value is possible. Placing orders that result in something else than expected causes hard to understand

[2019-03-18 17:14] DunnCreativeSS opened #513 "Multiple Workers per Account *Any Asset*"
Multiple Workers per Account *Any Asset*

[2019-03-18 17:14] DunnCreativeSS commented on #513
https://github.com/Codaone/DEXBot/pull/514

[2019-03-18 17:20] bitfag commented on #513
Duplicate of #434

[2019-03-18 20:10] thehapax commented on #464
i will work on the framework and then create tasks for individuals

[2019-03-18 20:37] thehapax commented on #513
closing duplicate as per request by @PermieBTS

[2019-03-18 20:37] #513 closed

[2019-03-18 20:37] thehapax commented on #506
@RobJah is this still an issue with the latest release? if not we'd like to close this issue. thanks.

[2019-03-18 20:42] thehapax commented on #476
closing this, will be in next release.

[2019-03-18 20:42] #476 closed

[2019-03-18 20:53] thehapax opened #515 "Strategy Test Interface to omit Real node interaction and API calls."
from #464  "Lots of functions requires API calls and bitshares node. Real node interaction can be omitted by using a fixtures and mocks (simulate API calls and responses)."

this task to create dummy interface for testing strategies and omit real calls

[2019-03-18 20:55] thehapax commented on #515
Decide on what frameworks for unit testing. Here are 3 frameworks for python testing. we should pick one as a guide for uniformity across all future tests.

1) PyUnit, also known as unittest in the Python modules.
2) Pytest – a mature full-featured Python testing tool that helps you write better programs.
3) Nose – a nicer testing for Python? It’s more like a unit test loader since it supports all

[2019-03-18 20:56] thehapax opened #516 "Base Strategy Unit Test"
assigned to bitProfessor but this strategy needs major refactoring.

[2019-03-18 20:56] thehapax opened #517 "Staggered Orders Unit Test"

[2019-03-18 20:56] thehapax opened #518 "Relative Orders Unit Test"
Assigned to bitProfessor

[2019-03-18 20:56] thehapax opened #519 "KOTH Unit Test."

[2019-03-18 20:57] thehapax opened #520 "Multiple Workers per account - Unit Test"
Unit test for this please.

https://github.com/Codaone/DEXBot/issues/513

[2019-03-18 21:06] thehapax commented on #516
Assigned to bitProfessor

[2019-03-18 21:13] thehapax commented on #515
Other strategy unit tests should base their unit test code off of this interface

[2019-03-18 21:13] RobJah commented on #506
Yes it only is an issue with the latest release (0.9.19) so im using 0.9.5 now.
I didnt try anything after joelvai said he knows what resolves the problem.

[2019-03-18 21:14] thehapax commented on #499
closed in latest release by @joelvai

[2019-03-18 21:15] thehapax commented on #458
closing as in next merge.

[2019-03-18 21:15] #458 closed

[2019-03-18 21:16] thehapax commented on #472
@Jackodb how is this coming along?

[2019-03-18 21:19] thehapax commented on #354
is this issue still open? or shall we close it?

[2019-03-18 22:24] PermieBTS commented on #472
Jacko has chosen not to work on this.
This issue is open to someone else

[2019-03-18 22:29] PermieBTS commented on #516
https://github.com/bitprofessor

[2019-03-19 06:03] bitfag commented on #499
@joelvai did you applied any fixes for that? If no, please reopen the issue.

[2019-03-19 06:05] bitfag commented on #472
@PermieBTS I can write an initial version of this document as I created ~7 custom strategies.

[2019-03-19 11:20] #354 closed

[2019-03-19 11:26] #443 closed

[2019-03-19 11:26] #432 closed

[2019-03-19 11:26] #497 closed

[2019-03-19 11:26] #509 closed

[2019-03-20 00:43] thehapax commented on #506
@RobJah in the next day there will be a newer release 0.10.1 once it comes out, please give it a try and see if you still have problems. thanks

[2019-03-20 00:56] thehapax commented on #504
we can leverage some of the existing code from external feeds for the CEXs that has already been written. specifically the ccxt part and dealing with the prefix, e.g. OPEN.BTC instead of just BTC. Async has already been implemented for fetching market data.

With ccxt we can leverage the private API to handle trades directly on the CEXs. there is also a list of exchanges which are ccxt certified.

[2019-03-20 02:40] cloud-8 opened #522 "Sell orders placed above manual center price"
## Expected Behavior

Sell orders will not be placed above manual center price.

## Actual Behavior

Sell order placed above manual center.

## Steps to Reproduce the Problem

The easiest way to replicate is try it on an immature UIA to UIA market which is the same asset. E.g. sparkdex.BTC/open.BTC. These markets have organic orderbook however which might change calculations for center price so be

[2019-03-20 07:49] joelvai commented on #506
The release ended up being 0.10.0, but let me know if this problem still persists. Also are you using same account for multiple workers?

[2019-03-20 08:03] bitfag commented on #522
For staggered orders, manual center price setting is only used at initial orders placement stage. So, if you had several orders filled at the buy side, the same number of new orders will be placed on a sell side to maintain target spread.

[2019-03-20 08:08] bitfag commented on #522
For xxx.BTC/yyy.BTC markets I would recommend to use Relative Orders with fixed center price and maybe Dynamic Spread feature (one caveat: there is no "min spread" limiter for Dynamic Spread to prevent spread bee too close).

[2019-03-20 08:12] cloud-8 commented on #504
Ah didnt know about https://github.com/ccxt/ccxt awesome !

[2019-03-20 08:36] cloud-8 commented on #522
So in my case spread is 0.75% either side of 1 during initial order placement for a total of 1.5% spread. Lets say alot of my orders get taken on the bid, increasing the spread, so Dexbot would place new orders to maintain the spread, however if none of my orders have also been taken on the ask, then how can my bid order placement drift upwards ? I have 0.75%  at least as a buffer. If the Asks are

[2019-03-20 09:02] bitfag commented on #522
Can you provide a logfile (dexbot.log) and bitshares account name to allow us to investigate what exactly happened?

[2019-03-20 09:38] RobJah commented on #506
Thnx, i can test it tonight :)

[2019-03-20 17:47] bitfag commented on #490
This change breaks system-wide installation, report from telegram:

[2019-03-20 18:50] MarkoPaasila commented on #522
@cloud-8 are you using _center price offset based on asset balances_? That would adjust orders up or down when orders fill. But even then it shouldn't exceed center price.

[2019-03-20 19:44] bitfag commented on #522
@MarkoPaasila he uses Staggered Orders.

[2019-03-21 09:16] MarkoPaasila commented on #522
So the problem is that the user might assume that manual center price means that it remains fixed (in Staggered Orders). Maybe we should change the term/description to better describe its purpose. Here's some suggestions:
placeholder centerprice,
initial centerprice,
starting price,
assumed price,
bootstrapping price

[2019-03-21 10:43] bitfag commented on #499
This issue wasn't fixed yet.

[2019-03-21 19:11] RobJah commented on #506
Yo guys,

Been running the new version, but the market is nog really giving it enough action yet to say that the issue is gone. I will report back when the markets move, or sunday, which ever comes first.

peace

[2019-03-21 20:52] thehapax opened #524 "refactor external feeds unit tests"
refactor external feeds unit tests to use a proper unittest framework.

[2019-03-21 20:57] PermieBTS commented on #522
Starting price is better

[2019-03-22 07:12] bitProfessor opened #525 "bug in relative_orders.py"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem
relative_orders.py
1 When there is no order in the test node because there is no order in the market, Market. ticker () will make a mistake and the program will not catch it.Market. ticker ()，Many methods are used, like initialization methods.
2 When center_price is None, the program does not catch it.unsupported operand

[2019-03-22 08:39] bitfag commented on #525
Please provide a full Traceback.

[2019-03-22 08:53] bitProfessor commented on #525
(env) jackingdeMacBook-2:env jacking$ cd /Users/jacking/Documents/GitHub/env ; env PYTHONIOENCODING=UTF-8 PYTHONUNBUFFERED=1 /Users/jacking/Documents/GitHub/env/bin/python3 /Users/jacking/.vscode/extensions/ms-python.python-2019.2.5558/pythonFiles/ptvsd_launcher.py --default --nodebug --client --host localhost --port 63804 /Users/jacking/Documents/GitHub/env/DEXBot/test_dexbots/test_dexbot/test_st

[2019-03-22 09:00] bitProfessor commented on #525
1、Deliberately looking for a market without any orders on testnode
2、return float(self.ticker().get('highestBid')) market.ticker() 。This condition was not addressed with python-bitshares.
sum: node wrong or a new market without any orders.

[2019-03-22 17:07] RobJah commented on #506
Guys (n Gals)

Havent seen any errors of gui-freezing so far and the market did move a couple of times in a big enough way that im willing to say this issue is resolved.

Thnx!

[2019-03-22 18:43] bitfag commented on #525
#499

[2019-03-22 19:49] #506 closed

[2019-03-23 19:36] bitfag commented on #515
I did some research on topic, basically we have several options:

* Create a custom bitshares classes which aren't interacting with real node, but loads data fixtures from local yaml files. This approach is used by python-graphenelib https://github.com/xeroc/python-graphenelib/blob/master/tests/fixtures.py , but has huge limitations: it can serve some fake data, but if you want to process transact

[2019-03-25 01:32] bitProfessor opened #526 "relative_orders.py test FAILED ,”self.buy_price “：The correct value may not be obtained."
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem
## test data:
{'account': 'bts0207', 'amount': 1, 'center_price': 0.3, 'center_price_depth': 0.0, 'center_price_dynamic': True, 'center_price_offset': False, 'custom_expiration': False, 'dynamic_spread': False, 'dynamic_spread_factor': 1.0, 'expiration_time': 157680000.0, 'external_feed': False, 'external_price_source': 'n

[2019-03-25 05:55] thehapax commented on #515
I support your 3rd approach. This would be useful in the event that we also write tests querying the nodes using websocket only code in addition to bitshares-instance

[2019-03-27 06:43] bitfag opened #529 "Project documentation"
We have old unmaintained documentation in `docs` directory intended to be rendered via sphinx. I suggest to put into good shape and enable automatic documentation building from docstrings.

[2019-03-27 13:06] PermieBTS commented on #526
@thehapax

[2019-03-27 19:12] thehapax commented on #526
this appears to be related to #499, please update to dexbot 0.10.1 latest release

[2019-03-27 19:12] #526 closed

[2019-03-27 19:13] thehapax commented on #525
@bitProfessor please update your release to 0.10.10 and rebuild and test. thanks

[2019-03-27 19:13] #525 closed

[2019-03-27 19:13] thehapax commented on #519
todo after base strategy refactoring

[2019-03-27 19:14] thehapax commented on #520
Todo after base strategy refactor

[2019-03-28 00:17] bitProfessor commented on #526
get it

[2019-03-28 05:27] thehapax commented on #529
I took a look at the sphinx docs but I am really confused as to how these were generated. the project Make file is in the main directory and during sphinx-quickstart, it cannot override the existing Makefile in the main directory or the conf.py. I can remove these and force generate but that doesn't seem right.

Do you have any insight on how these files were generated originally?  I am unfamiliar

[2019-03-28 07:52] bitfag commented on #516
Note to @bitprofessor: we most likely will use **pytest**, In the #530 your tests were used `unittest`.

[2019-03-28 08:11] bitProfessor commented on #516
get it

| |
bitprofessor
|
|
bitprofessor@163.com
|
签名由网易邮箱大师定制

On 03/28/2019 15:52，Vladimir Kamarzin<notifications@github.com> wrote：

Note to @bitProfessor: we most likely will use pytest, In the #530 your tests were used unittest.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-03-28 17:20] PermieBTS commented on #516
We should use either unittest _or_ pytest.
So far unittest seems to have been used, and switching to pytest would mean redoing previous work.
I would like to minimise disruption so I would favour using unittest if it is sufficient to test DEXBot pre and post refactor to ensure it works as intended.

Does pytests benefits warrent redoing previous tests?
@bitfag

[2019-03-28 19:34] bitfag commented on #516
1. At first, we actually don't use `unittest`, we only have stub "tests/test.py" which has only one test to start plain WorkerInfrastructure. So we're don't need to do any refactoring, we're free to pick any framework.
2. There are tests for external feeds in the `tests/` directory, but they are just `print()` based tests, and needs to be refactored anyway to use test framework we will pick up.

H

[2019-03-28 21:54] PermieBTS commented on #516
You've convinced me :)
pytest going forward please team

@thehapax @bitfag @bitProfessor

[2019-03-28 22:27] bitProfessor commented on #516
Of course pytest is the best, but I need a week or so to switch the original unit test code to pytest.

On 03/29/2019 03:34, Vladimir Kamarzin wrote:
At first, we actually don't use unittest, we only have stub "tests/test.py" which has only one test to start plain WorkerInfrastructure. So we're don't need to do any refactoring, we're free to pick any framework.
There are tests for external feeds i

[2019-03-28 23:29] bitProfessor commented on #520
ok

[2019-03-28 23:29] bitProfessor commented on #519
ok

[2019-03-28 23:30] bitProfessor commented on #518
done

[2019-03-28 23:38] bitProfessor commented on #516
1、I hope that my testing framework will be able to automate the testing of all dexbot units in the future.So I wrote a test framework for each function.I have completed about 170 functional testing frameworks
2、There's nothing wrong with switching to pytest, it just takes a little time.

[2019-03-31 08:19] bitfag commented on #474
@PermieBTS I would like to fix it as this bug annoys me.

[2019-03-31 11:11] bitfag opened #532 "Docstrings formatting"
Currently we don't use single style of docstrings formatting. We mostly use something like rst-like formatting, but it's not accurate for generating autodoc documentation, example (base.py):

[code]
"|" symbol is not needed.

Also, `:rtype:` is usually missing from docstrings.

https://realpython.com/documenting-python-code/#docstring-formats

[2019-03-31 18:40] bitfag commented on #511
I proposed to have a method in the library to place an order with exact BASE and QUOTE amounts here
https://github.com/bitshares/python-bitshares/issues/227

[2019-03-31 19:20] bitfag commented on #529
`pip install sphinx; cd docs; make html` gives some errors but it is working in general, e.g. docs are generated inside `_build/html/`.

For pdoc, I have to use the following command (it didn't work without specifying "dexbot")

[code]

Some short comparison of documentation generators: https://medium.com/@peterkong/comparison-of-python-documentation-generators-660203ca3804

For pdoc, I see the fo

[2019-03-31 20:01] PermieBTS commented on #474
Okay go ahead

[2019-03-31 20:10] PermieBTS commented on #524
@bitfag would you be able to handle this?
If it can be completed without slowing down the higher priority issues it would be good to have this issue closed

[2019-03-31 20:12] bitfag commented on #524
Yes I think this this task can be done in reasonable time.

[2019-03-31 23:39] thehapax commented on #524
i think external feeds should be refashioned into the CEX price query engine as part of the TDD refactor proposal.  save us time and cost if this is done as a whole chunk This is the [ccxt manual](https://github.com/ccxt/ccxt/wiki/Manual)

See section in yellow for 2 separate modules 1 for price query and 1 for the order engine to ccxt.
[TDD UML diagram](https://www.lucidchart.com/documents/view/6

[2019-03-31 23:41] thehapax commented on #524
Don't forget - Relative Orders strategy uses external feeds, so whatever you change here will need to be updated over there.

[2019-04-01 04:33] thehapax commented on #529
Wow the sphinx docs are really out of date. So it looks like we need to update all of the .rst manually? It appears in the current makefile none of the existing classes are automatically generated from`make html` .

Sorry I am new here, some guidance on how to generate the documents from the class files would be great, and not just the existing .rst.

Thanks.

[2019-04-01 09:07] bitfag commented on #529
I did some local changes to docs to render autodoc for classes, just to make sure it works. I can dedicate some time for this task to quickly improve things if @PermieBTS will grant me with time.

[2019-04-01 09:11] bitfag commented on #524
Sorry I don't get it: are you proposing to not refactor tests until external feeds will be moved into "CEX price query engine"?

[2019-04-01 19:25] bitfag commented on #524
As @thehapax described in the dev chat, the task is the develop Cex Price Query Engine. This raises the next question: how does this engine should fit into current project architecture?

[2019-04-01 19:32] thehapax commented on #524
The architecture has been laid in the UML. It should be obvious.

[2019-04-01 19:42] PermieBTS commented on #524
Not postponing.

Developing the price query engine using the existing price feed code as a starting point
- Instead of unit testing the CEX price feeds which will be replaced by the price query engine anyway

[2019-04-01 20:21] bitfag commented on #524
Ok, I see these methods are part of dexbot/strategies/external_feeds/ now.

[2019-04-02 00:39] thehapax commented on #524
I leave the __init__ design choice to the developer who is making the implementation.

A class should have only one job - see SOLID principles.
TDD pg 4: Data source layer to be separate from order processing layer.

[2019-04-02 09:22] cloud-8 commented on #522
Yes I am, however it still shouldnt IMO be placing above center. You can see this now in sparkdex.BTC/open.BTC market. Dexbot is placing orders below 1 on the Ask.

[2019-04-02 12:03] PermieBTS commented on #529
Granted

[2019-04-02 14:33] MarkoPaasila commented on #511
You still have to figure out what the exact amounts are. #512 gives you a method to find them using the price as decimal/float - like people normally think about prices - and not suffer from rounding. Your proposed method is what 512 was missing to make it perfect. Should I change 512 to also return/accept _internal amounts_? They are integers of course.

[2019-04-03 06:53] bitfag commented on #529
I improved building of the documentation, also I created automated build at readthedocs, see
https://dexbot.readthedocs.io/en/529-documentation-fixes/index.html

Autodoc for some GUI classes aren't building on readthedocs because it doesn't allow to install cpython modules, so I have to mock some modules by `autodoc_mock_imports`, but it doesn't allow to mock internal modules, so these modules whi

[2019-04-03 08:05] bitfag opened #535 "AppVeyor build is broken due to secp256k1 dependency of python-graphenelib"
I noticed that last several PRs failing build on windows (appveyour), the reason is secp256k1 package.

From buildlog:

[code]

[2019-04-04 06:34] bitfag opened #536 "KeyError: 'operation_results'"
Rare condition happening inside of python-bitshares, `tx` without `"operation_results"`. Need to fix upstream or add a workaround inside dexbot.

[code]

[2019-04-04 06:37] bitfag commented on #536
Upstream issue https://github.com/bitshares/python-bitshares/issues/229

[2019-04-05 16:22] bitfag commented on #524
@thehapax I don't think separation of orders placement methods into separate class is a good idea:

* Order engine and Price engine will have exactly the same class inheritance scheme with the same code (`__init__` methods), both relying on the same APIs, like ccxt, etc. This is code doubling, which breaks DRY principle.
* I don't think single class breaks single-responsibility principle as this c

[2019-04-05 19:41] thehapax opened #538 "Core Refactor: Worker, MP asyncio"
Discussion on Core Refactor, originated on Telegram

Goal is to make the Worker Infrastructure for Dexbot use multiprocessing and asyncio to speed up computations on CPU and I/O.

Legacy code not used anymore
-  State machine in Base Strategy can be removed

Open issues for discussion:
- Events in Base Strategy : This callback-based event handling needs heavy refactor, especially if the core (work

[2019-04-05 19:42] thehapax commented on #538
@bitfag  please elaborate on

[2019-04-05 20:03] thehapax commented on #524
@vvk
- Does not need to be code doubling if we make one connector unit to the API.
- the pipeline of data should be : price feed ->  filtering -> strategies -> order placement. In this order.
- this style is functionally driven and logic separated, instead of class object driven.

[2019-04-05 20:14] thehapax commented on #524
Further:

- In the case of CoinGecko and say Coinmarketcap, there is only requirement for "Getting Price Feeds" and the API does not allow for order placement.
- Relative orders strategy. It gets external feed data but the orders are place on the bitshares dex only.
- Other strategies may also require only price feeds.

[2019-04-05 21:46] thehapax opened #539 "Strategy Class renaming to be consistent with Config"
for RO and SO and other strategies, the class name is ```class Strategy(StrategyBase)```.

It should be modified to be specific to the strategy, for example:

```class StaggeredStrategy(StrategyBase)```

so that it is consistent with the config_parts such as ```class StaggeredConfig(BaseConfig):```

Renaming will also help create auto UML correctly.

[2019-04-06 12:46] bitfag commented on #538
Thoughts on architecture:

* Split core and frontends. Core can be a standalone cli app exposing API, and different frontends (CLI / GUI / Web) can use this API to interact with core
* Use asyncio eventloop as core basement. All core parts are logically split into `asyncio.Task`s:
  * API: frontends interaction
  * Plugin infrastructure: run plugins (each plugin is separate Task, see #502 )
  * Wo

[2019-04-06 19:31] bitfag commented on #524
* For external APIs like CMC there is also no methods for querying own orders and depthted orderbook buy/sell prices, so these methods will not work for CMC-like datasources
* Regarding RO strategy and others required pricefeeds: they will just call only price-related methods

I currently implementing Price Engine using OOP and class inheritance, probably I need to publish WIP version for you to r

[2019-04-07 06:47] MarkoPaasila opened #540 "Is log written in installation dir?"
## Expected Behavior
Bot starts normally

## Actual Behavior
`dexbot-cli -v4 run` gives me:
[code]

## Steps to Reproduce the Problem

  1. `git checkout master` and `git pull`
  2. Build current master with: `sudo pip3 install -e .`
  3. Run as non root with `dexbot-cli -v4 run`

## Specifications

  - Version: 0.10.1
  - OS: Arch Linux Arm

[2019-04-07 12:25] bitfag commented on #540
Originated from #490

[2019-04-08 03:58] thehapax commented on #524
ok sounds good. :)

[2019-04-08 04:23] thehapax opened #541 "Staggered Orders Refactor"
Staggered Orders Refactor (from TDD)

- Methods related to Virtual orders should be pulled into the Virtual Orders class
- Virtual orders class should be designed to allow any new strategy to use it. For example, a new AI driven strategy may want to use the virtual orders system.

[2019-04-08 04:24] thehapax opened #542 "base.py refactor"
see [TDD ](https://docs.google.com/document/d/1IXnhskQfVWMD2w-hryom5D72RLWXEDDVmS1kwrrsduc/edit?usp=sharing)

[2019-04-08 06:15] thehapax commented on #518
@bitProfessor can you please make a pull request? thanks

[2019-04-08 06:20] bitProfessor commented on #518
Ok
On 04/08/2019 14:15, octomatic wrote:

done

@bitProfessor can you please make a pull request? thanks

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-04-08 12:57] bitfag commented on #524
I pushed current work into https://github.com/bitfag/DEXBot/tree/524-refactor-external-feeds

[2019-04-11 04:45] thehapax commented on #538
I agree on this aspect to split.

re: bitshares.Notify: lets wait for xeroc if he is implementing this and see what happens

As for multiprocessing, I don't think this is best way. Perhaps multithreading.

[2019-04-11 05:18] thehapax opened #546 "Remove state machine from base.py"
Artifact not used; to remove

[2019-04-11 05:49] #546 closed

[2019-04-11 11:27] appelpaiter opened #549 "This Windows version (6.3.9600) does not support the required Bluetooth API. Consider updating to a more recent WIndows (10.0.10586 or above)"
## Expected Behavior
Regular startup, no problems.
No errors till version DEXbot-gui-win-64-0.9.5

## Actual Behavior
See title of issue and added screenshot.

## Steps to Reproduce the Problem
![error](https://user-images.githubusercontent.com/49520258/55953823-6fdd5180-5c5d-11e9-86c4-d6dc58c0f87a.png)

  1.Started the bot couple of times, also version 0.10.0. No positive results.
  2.
  3.

## S

[2019-04-11 23:29] dominic22 commented on #549
The version of pyqt5 was updated in https://github.com/Codaone/DEXBot/pull/414

It seems this is the cause of the problem as you can see here:
https://github.com/winpython/winpython/issues/592

PyQt5.Qt imports a lot of modules including bluetooth which seems to has issues on Win8.1.

I think we can solve the issue according to the suggestion of altendky:
https://github.com/winpython/winpython/iss

[2019-04-12 17:28] darkmaycal commented on #403
When i try to create new wallet: (Windows Python shell)
raise WrongMasterPasswordException
graphenestorage.exceptions.WrongMasterPasswordException

[2019-04-12 19:43] thehapax commented on #524
ok I took a look.  it is a good start but we will need to rename the packages.

As per conversation with @joelvai

StrategyBase will become and Abstract Base class.  Future Strategies could use more than one feed at any time and more than one dex/cex at the same time.

[code]
the flow should be

Price Feed >> Strategy >> Order Engine where Each Strategy can have N source of price feeds and M order

[2019-04-12 20:24] thehapax commented on #538
State machine has been removed and merged into devel

[2019-04-12 21:37] thehapax opened #551 "CLI remade to python-prompt-toolkit dialogs [post core refactor]"
Todo after Core Refactor is over.

From Slack March 14, 2019

vvk [11:37 AM]
During cli refactor I want to replace whiptail with python-prompt-toolkit dialogs. Reason: whiptail is available only on debian-like systems, while for other systems we have text-based whiptail replacement. This leads to different cli configure behavior on non-debian-based systems. python-prompt-toolkit dialogs looks simi

[2019-04-13 02:08] thehapax commented on #551
For future CLI would be nice to have a feature where you can disable a strategy similar to the GUI. Right now you can only do so by commenting it out in the config.yml

[2019-04-13 10:51] bitfag opened #553 "Project planning"
Currently I was assigned to the task #517, and the question appeared for me: Why I'm writing tests for the code which will be refactored soon instead of doing refactoring of that code and writing tests immediately? So, I decided to summarize the decisions which I considering as strange:

* Refactoring of strategies (#542, #541) **before** refactoring the core (#538) will require refactoring again

[2019-04-13 11:44] bitfag commented on #517
Testing plan:

SO strategy is complex and contains lots of logic. Unittests can cover only part of the strategy. To test overall strategy logic it requires to have integration tests (tests which checks multiple components at a time). I'm not sure which is proper approach: to do individual unittests first, or start right from integration tests.

Methods which requires integration testing:

* mainta

[2019-04-13 13:30] bitfag opened #554 "SO: min orders amounts as asset thresholds?"
calculate_asset_thresholds() is inaccurate, it calculates min threshold to allocate based on center price. I did some thinking and it appears calculate_min_amounts() results can be also used as thresholds.

There is a rare bug when strategy need to place order, and allocation amount is less than min allowed amount, so check_min_order_size() will correct amount up, but the balance is less than new

[2019-04-13 14:55] PermieBTS commented on #553
The unit tests being done prior to the refactor allows us to prove that the code we have now and the code post-refactor behaves the same - to prove that the strategies are uaffected by refactor.

[2019-04-13 15:00] PermieBTS commented on #553
King of the hill and the plugin infrastructure will be used later, but were developed at a time when it could be worked on. Progress wasn't delayed because they were developed earlier.

We're working towards a tested stable release for 1.0.0 pre-refactor

[2019-04-13 15:05] PermieBTS commented on #553
Having you start work on the external feeds/order engine before the SO unit test was complete was a mistake on my part. Sorry for that vvk.

The 524 work isn't wasted though, and can be continued later

[2019-04-13 18:56] bitfag opened #555 "SO: Investigate how strategy behave at 1 sat markets"
A user on telegram channel asked for help in setting dexbot for a market with center price arount 1 sat. This should work in general, though I want to perform tests for SO strategy to check how this actually handled, also unittest for such case also needed.

Need to check the GUI too, it may not allow to enter correct lower/upper bounds as input field precision is limited.

Example market ticker d

[2019-04-14 09:27] bitfag opened #556 "self.fee_asset initialized without bitshares_instance"
`self.fee_asset = Asset(fee_asset_symbol)` looses bitshares_instance, it means it tries to connect to the default node here.

[2019-04-14 09:28] bitfag commented on #556
I will fix this during #517

[2019-04-14 10:08] bitfag opened #557 "Amounts instantiated without bitshares_instance"
In place_virtual_xxx_order() Amount should be instantiated with passing bitshares_instance=self.bitshares

Same as in #556

[2019-04-14 17:24] PermieBTS commented on #555
I'm asking @joelvai for his input/advice on this

[2019-04-15 05:27] joelvai commented on #555
Most of the assets have maximum precision of 8, but if 12 is really needed it can be changed. This would require some testing on the market since the precision goes that big there is higher chance for float errors, which is already a problem on some edge cases.

[2019-04-17 10:45] dominic22 commented on #250
I think this issue can be closed, since the following PR fixes it according to:
https://github.com/Codaone/DEXBot/pull/488

[2019-04-17 17:58] #250 closed

[2019-04-18 10:55] MarkoPaasila commented on #490
`user_data_dir/dexbot.log` seems like the correct place. Another option is working directory, but the former would be more consistent.

[2019-04-18 19:53] CryptoKong opened #563 "Staggered orders error: cant calculate centre price when fixed centre price is given"
## Expected Behavior
worker should work off given fixed centre price

## Actual Behavior
error says cant calculate centre price

## Steps to Reproduce the Problem

  1.setup staggered worker in completley dead market with no orders (i was using valley mode)
  2.start worker
  3.error

## Specifications

  - Version:0.10.1
  - OS:ubuntu 18.04

[2019-04-19 19:03] MarkoPaasila opened #564 "Strategybase: potentially orders from wrong markets?"
This function gets all orders of account and returns the ones where the other asset matches our market, disregarding the other - which might be wrong.
[code]

So if the account happens to have manually made orders, or if in the future a worker operates in several markets, this will cause problems. Same applies for filter_sell_orders()

[2019-04-19 19:06] MarkoPaasila commented on #564
Sorry, wrong alarm. The orders passed are already filtered to match the market.

[2019-04-19 19:06] #564 closed

[2019-04-20 07:11] bitfag commented on #564
The user of this method is supposed to pick up correct orders prior.

[2019-04-20 18:46] dominic22 commented on #368
I have checked this issue on a Windows machine, which is not my developer PC by downloading 0.10.0 zip file and running it. Unfortunately it does not have an uptick cli tool in the terminal / console.

I think if you want to install uptick on a windows machine you need to have some kind of install wizard for dexbot. The wizard have to install python before, so that the machine is able to execute t

[2019-04-20 19:25] KenSharp opened #565 "Cannot build in any Ubuntu environment"
## Expected Behavior
The [Setup Guide for Ubuntu Linux](https://github.com/Codaone/DEXBot/wiki/Setup-Guide-for-Ubuntu-Linux) should make things incredibly easy to install.

## Actual Behavior
Ubuntu 16.04 in a virtualenv - fails
Ubuntu 18.04 - fails
Ubuntu 18.04 in a virtualenv - fails

From 16.04:
[code]

## Steps to Reproduce the Problem

  1. Follow the Setup Guide
  2. Tear out hair.

## Speci

[2019-04-21 11:35] bitfag opened #566 "SO: set self.last_check in the past"
Need to set self.last_check in the past to allow `maintain_strategy()` to run immediately, otherwise it thinks minimal time from previous maintenance wasn't passed.

[2019-04-21 12:01] bitfag commented on #563
@CryptoKong I was unable to reproduce this issue, can you please copy-paste your dexbot config here?

[2019-04-21 19:54] PermieBTS commented on #565
Ill ask one of our devs to take a look at your issue

Have you posted in the t.me/DEXBotbts telegram group? Will get a faster response in there

[2019-04-21 20:18] CryptoKong commented on #563
Sorry not sure which file you mean, could you be more specific, in the mean time, here is my setup and the error message.
![image](https://user-images.githubusercontent.com/33036236/56475045-d4c55280-647a-11e9-942a-446a4e63dffb.png)

Traceback (most recent call last):
  File "/home/cryptokong/.local/lib/python3.6/site-packages/dexbot-0.10.1-py3.6.egg/dexbot/worker.py", line 76, in init_workers

[2019-04-22 10:48] bitfag commented on #563
You got this traceback from the console?
Dexbot config is usually `~/.config/dexbot/config.yml`

[2019-04-22 11:00] bitfag opened #567 "calc_profit() TypeError: unsupported operand type(s) for *: 'float' and 'NoneType'"
From #563

[code]

The problem caused by the error in conditional expression `if not (old_center_price or center_price)`

[2019-04-22 11:00] bitfag commented on #563
The error `TypeError: unsupported operand type(s) for *: 'float' and 'NoneType'` is a different error, I created a new issue for it, #567

[2019-04-22 21:08] thehapax commented on #538
Something to consider for design.

- Future strategies may be based in heavy computation AI/ML (as per conversation with Gabriel).
We should starting thinking about how to make these separate processes connect with dexbot strategy framework.

[2019-04-23 06:33] bitfag commented on #538
A strategy can use ProcessPoolExecutor to run heavy computations not blocking the main process. https://docs.python.org/3/library/asyncio-eventloop.html#executing-code-in-thread-or-process-pools

[2019-04-23 07:08] joelvai commented on #549
Fix for this issue is merged on `devel` branch and is going to be included in the next release.

[2019-04-23 07:08] #549 closed

[2019-04-23 07:41] bitfag commented on #563
@CryptoKong I was able to reproduce this issue, no further input is needed, thanks.

[2019-04-23 15:23] CryptoKong commented on #563
Ok cool, sorry for my slow response, busy bank holiday weekend here. Glad you could reproduce. Cheers

[2019-04-24 05:53] bitfag opened #570 "Upgrade version of python-bitshares to 0.3.x"
Need to perform version upgrade, as it contains bug fixes and some of our new features will depend on this new version.

[2019-04-24 05:58] joelvai commented on #570
I agree. I suppose this could be next on the list after the base refactor is done and before actually new features are implemented. Its not the biggest job, but requires mostly testing.

[2019-04-24 10:38] bitfag commented on #433
As users have issues installing dexbot (#565), and we do not have automatic installation test which tests the [HOWTO](https://github.com/Codaone/DEXBot/wiki/Setup-Guide-for-Ubuntu-Linux), I want to pay attention to this issue. What I want to do:

* Refactor Dockerfile from #439 (already done locally)
* Enable automatic build of docker image using Travis CI
* Enable automatic deploy of docker image

[2019-04-24 10:40] bitfag commented on #565
I checked Ubuntu 18.04 installation by running docker image build (we have unfinished #433 and #439 PR related to it). No issues found.

Ubuntu 16.04 is not actually supported as we bumped required python version to 3.6.

[2019-04-24 14:22] PermieBTS commented on #570
@joelvai I agree

[2019-04-25 08:52] bitfag opened #571 "codacy flagging assert statements in tests"
For example here https://app.codacy.com/app/thehapax/DEXBot_Codaone/pullRequest?prid=3448821

Related issue https://github.com/fossasia/query-server/issues/332

Solution from the [documentation](https://support.codacy.com/hc/en-us/articles/207994335-Code-Patterns):

[2019-04-25 09:00] bitfag opened #572 "tests naming convention"
In #561 there is a question raised about how to name tests.

https://docs.pytest.org/en/latest/goodpractices.html#conventions-for-python-test-discovery

Both `test_*.py` or `*_test.py` supported. I prefer 1st, because it looks more consistent with test function names: `test_do_something()`.

We need to pick a single style and use it.

[2019-04-25 09:06] joelvai commented on #572
After thinking this more, I suppose it would be better at the beginning.

[2019-04-26 04:36] thehapax commented on #572
```test_*.py``` at beginning. to be consistent with methods and ease of identification

[2019-04-26 05:35] bitfag commented on #515
Remark from the dev chat.

Running all tests on clean fresh environment gives us 100% reproducible results. Relying on public testnet is bad, because:

* test results may depend on testnet state
* we have to worry about distributing credentials for test accounts
* we cannot run several test suites in parallel using same accounts
* tests run time will be much slower because of 3 sec blocks and netw

[2019-04-28 08:14] bitfag opened #574 "Own versions of python-bitshares and python-graphenelib"
We're experiencing large delays of merging required changes into upstream python-bitshares. Example: https://github.com/bitshares/python-bitshares/pull/223 is blocking our #531.

Solution is to use own forks of python-bitshares and python-graphenelib.

Possible workfow:

* If we need a new feature, implement it into own versions first
* Do a PR into upstream, so all new features will be merged lat

[2019-04-28 09:35] MarkoPaasila commented on #574
This seems like a good temporary solution, especially if @xeroc is ok with it

[2019-04-28 14:44] bitfag opened #575 "SO: unwanted orders price shifts due to incrementing price"
From https://github.com/bitshares/python-bitshares/issues/227#issuecomment-485243111

In dexbot we're incrementing prices to place staggered orders, this is a test which shows actual order price and initially calculated price are different:

[code]

So, we should switch from incrementing prices to incrementing amount only (base or quote) to place staggered orders, and as a consequence we need a me

[2019-04-28 14:51] bitfag commented on #575
The less asset precision, the bigger price increment error is.

[2019-04-29 01:46] bitProfessor commented on #571
cool

[2019-04-29 04:04] thehapax commented on #574
I totally agree. If xeroc is ok it, I'd say @bitfag lets go with it and not let it slow us down.

[2019-04-29 08:05] bitfag commented on #574
@joelvai how do you think best to use own version? Do you think we need to publish pypi packages like python-bitshares-dexbot, or just use git install in requirements, like `git+https://github.com/foo/bar.git#egg=spam` ?

Also I think it's good idea to put forked version Codaone github organization, someone with required permission need to do this.

[2019-04-29 14:46] xeroc commented on #574
It is important that the approach works for **you**! If it serves that, go for it!

The only *recommendation* I would make is that you reuse what's already there and fits your requirements. Not re-implement the wheel. So, you may want to reuse alot of the stuff in `bitsharesbase` module.

[2019-04-29 16:25] PermieBTS commented on #574
Great, thanks Xeroc

[2019-04-29 17:31] bitfag commented on #574
I actually meant to use own versions to not wait for stuff being merged. So we can use new features right now, and PR them into upstream as things stabilizes.

[2019-04-30 06:40] MarkoPaasila commented on #574
To me it seems like a better idea to pull source from git instead of making a pypi package.

[2019-04-30 10:58] xeroc commented on #574
To be honest, I am looking for assistance in maintaining pybitshares for quite some time. Please ping me on telegram so we can discuss how best to work out the high delays (sorry for that) in merge requests. A new (and competent one like @bitfag) maintainer on the repo would be really really appreciated.

[2019-05-03 08:29] bitfag opened #576 "No general documentation on running and configuring"
I looked over available wiki docs and didn't find how to actually configure and run the dexbot. Setup guide doesn't cover this.

Configuring & manual setup are frequently asked questions, this topic should be covered in built-in docs available at https://dexbot.readthedocs.io/en/latest/

[2019-05-03 10:48] #490 closed

[2019-05-03 10:48] #556 closed

[2019-05-03 10:48] #557 closed

[2019-05-03 10:48] #567 closed

[2019-05-06 23:29] thehapax commented on #572
I believe we are in agreement with `test` to be a the beginning. Shall we close this issue?

[2019-05-07 01:47] #572 closed

[2019-05-09 06:11] bitfag commented on #570
I would like to do this before base refactor, as #551 depends on this.

[2019-05-09 11:11] PermieBTS commented on #570
Is this 570 necessary for https://github.com/Codaone/DEXBot/issues/515 ?

[2019-05-09 12:03] bitfag commented on #570
@PermieBTS yes

[2019-05-09 12:13] bitfag commented on #574
@joelvai how do you think what is the best workflow with own forks? Do we need dexbot `requirements.txt` always point to `master` of pybitshares/pygraphene? Or our `devel` branch should point to `develop` branch of pybitshares/pygraphene? So we'll have the same merging approach `develop -> master` for pybitshares/pygraphene?

[2019-05-09 12:25] xeroc commented on #574
If you do it like [this](https://github.com/bitfag/DEXBot/commit/c2a1ff99aed2864c65b6886a55b99839f7d3cadf), you may run into trouble as you forgot to remove the `bitshares` pypi package (one line above the added lines)!!

[2019-05-09 12:39] bitfag commented on #574
Yes sure, just a mistake, already fixed.

[2019-05-09 20:31] thehapax commented on #538
Ok sounds good. I'll take a look into it

[2019-05-09 20:37] thehapax commented on #570
my concern about this upgrade to 0.3.x is that currently i'm refactoring base off of pybitshares below 0.2.x If we don't merge and test at least the current portion now, it means base refactor is further behind. Can we just merge in base refactor now and then make unit tests to fit the new framework instead of redundant work?

[2019-05-09 21:29] PermieBTS commented on #570
So if @joelvai merged this issue 570 and the base refactor, unit tests can then be written using @bitfag docker?

Therefore skipping out the work to complete redundant unit tests in the old style?

If @thehapax pushes their work to codaone/542-base-refactor-notests can it be merged friday 10th of May (Tomorrow)?

[2019-05-10 01:23] thehapax commented on #570
I changed the branch - new name is 542-base-refactor-merge, and the pull request is: https://github.com/Codaone/DEXBot/pull/579

[2019-05-10 01:24] thehapax commented on #570
@joelvai  you can delete codaone/542-base-refactor-notests this is no longer used.

[2019-05-10 11:11] joelvai commented on #474
PR #533 closes this issue.

[2019-05-10 11:11] #474 closed

[2019-05-10 13:22] bitfag commented on #433
#439 merged.

[2019-05-10 13:22] #433 closed

[2019-05-10 19:36] #542 closed

[2019-05-10 20:52] thehapax opened #582 "Core Refactor: Split core and frontends."
Core can be a standalone cli app exposing API, and different frontends (CLI / GUI / Web) can use this API to interact with core

[2019-05-11 09:20] CryptoKong opened #583 "New Strategy: Arbitrage Enabling Market Picker"
Arbitrage enabling markets are markets such as open.BTC-bridge.BTC or bridge.ETH-gdex.ETH

You would normally place a buy order for 0.99 or a sell order for 1.01 in order to gain 1% on your holdings when filled you now hold another asset issuers IOU.

Rather than placing orders and waiting for the orders to fill as is normally the case, I would like to create a strategy where you can select which

[2019-05-11 10:33] bitfag commented on #583
The easiest solution would be to setup multiple workers on same account. For each market xxx.BTC/yyy.BTC, xxx.BTC/zzz.BTC, yyy.BTC/zzz.BTC and so on. This could be simplified by just specifying a list of assets in single worker, and this worker can handle multiple markets.

Scanning for AE-enabled markets is more advanced for sure. The goal is to analyze current arbitrage situations and determine

[2019-05-11 13:41] dominic22 opened #584 "Install Wizard for Windows"
Development of a installer which distributes dexbot & uptick to the windows machine.

Hence uptick is based and python and pip and currently not a standalone executable, python and pip will be installed as prerequisites as well.

[2019-05-11 13:42] dominic22 commented on #584
Related:
#368

[2019-05-11 14:44] bitfag opened #585 "SO: mountain mode furthest order too small increase step"
When starting new increase round in mountain mode, new order amount increment should not be less than `min_increase_factor` (currently 15%). This is for preventing too much replacements.

Unittest: `test_increase_order_sizes_mountain_furthest_order()` (unreleased)

[2019-05-11 16:21] bitfag opened #586 "SO: valley mode closest order too small increase step"
When starting new increase round in valley mode, new order amount increment should not be less than `min_increase_factor` (currently 15%). This is for preventing too much order replacements.

Unittest: `test_increase_order_sizes_valley_closest_order()` (unreleased yet)

[2019-05-12 10:50] bitfag commented on #586
The same applies for neutral mode

Test: `test_increase_order_sizes_neutral_closest_order`

[2019-05-12 13:35] bitfag opened #587 "SO: cancel dust order + increase opposite = race condition"
Because of ops bundling the strategy tries to cancel an order while `allocate_asset('base')` and tries to increase the same order when running `allocate_asset('quote')`. This is a rare condition, but still possible, good solution would be prevent it.

[code]

[2019-05-12 18:35] bitfag opened #588 "SO: refactor place_closer_order allow_partial"
When cancelling a dust order and placing closer opposite order need to set own asset limiter to avail balance. `allow_partial=True` doesn't solves the problem when sides are massively imbalanced because `allow_partial=True` still has a soft limit.

Tets failing: `test_allocate_asset_dust_order()`

[2019-05-12 19:39] bitfag commented on #587
Failing test: `test_allocate_asset_dust_order_increase()`

[2019-05-13 17:47] thehapax opened #589 "Core refactor: WorkerInfrastructure Task optimization"
multithreading or processing

[2019-05-13 17:48] thehapax opened #590 "Todo: CEX Order Engine via ccxt"

[2019-05-13 19:41] #516 closed

[2019-05-13 19:44] thehapax opened #591 "BitsharesOrderEngine Unit Test"

[2019-05-13 19:44] thehapax opened #592 "BitsharesPriceFeed Unit Test"

[2019-05-14 11:34] bitProfessor commented on #592
https://github.com/bitProfessor/DEXBot/tree/devel/tests/pricefeeds
hi @thehapax ,#592   It looks like three test cases failed. I'm not sure why. Can you see?

[2019-05-14 17:44] thehapax commented on #592
Which 3 test cases failed?

[2019-05-15 07:51] bitProfessor commented on #592
http://htmlpreview.github.io/?https://github.com/bitProfessor/DEXBot/blob/devel/tests/pricefeeds/report.html
@thehapax

[2019-05-15 11:37] bitfag commented on #588
Also when placing closer order when only one order needed to reach target spread, `allow_partial=True` also used. Probably need to remove soft limit imposed by `allow_partial=True`: `balance > order['base']['amount'] * self.partial_fill_threshold)`, and probably remove bundling when bootstrap is off.

[2019-05-15 11:44] bitfag commented on #541
Is this implies adding a feature to store orders into database #442 ?

[2019-05-15 19:48] thehapax commented on #592
The error " AssertionError: assert 'BTS' != 'BTS'" should not happen if the other tests pass. I still cannot see the updates on your master branch, so i don't have any code to reference except your unit test. It should, however, match the code from the most recent Codaone/devel which is here:

https://github.com/Codaone/DEXBot/blob/devel/dexbot/pricefeeds/bitshares_feed.py

[2019-05-15 20:56] thehapax commented on #541
If you can do it, it would be nice to have.

[2019-05-15 21:02] PermieBTS commented on #442
Restarting DEXBot after a strategy mode change may be a common "mistake" users make so I think during the refactor a way to store orders across restart should be developed.
This is a kind of polishing of the user experience as well.
DEXBot should be easy to configure (if you know what you're doing with market making) and the possibility that the user harms their strategy accidentally should be pre

[2019-05-15 21:03] PermieBTS commented on #541
@bitfag I think https://github.com/Codaone/DEXBot/issues/442 is quite important so I would like to assign you this task during the refactor, after SO unit tests

[2019-05-15 22:43] thehapax commented on #592
In your test code, for starters you have != instead of ==. In  buy orders you have ==, wherease in sell ordres you have !=
[code]

[2019-05-16 08:03] bitProfessor commented on #592
1、fixed it.
2、I bought a new computer and I'm switching. git pull later

[2019-05-16 12:44] PermieBTS commented on #504
https://docs.google.com/document/d/1-9kPRdOnbc_fd4A4lntLLJMX3rhrcOih7QYqu_FrG6I

So limit orders can be calculated to be placed in such a way that they in-fact take orders off the book?

If there is a limit order currently on the books to sell 1btc for 100kbts, and DEXBot deems this a profitable opportunity, DEXBot can use its knowledge of the CEX orderbook to place a limit order at the exact same

[2019-05-16 13:15] PermieBTS commented on #504
**LIST OF CCXT SUPPORTED EXCHANGES THAT LIST BTS TRADING PAIRS AND HAVE WEBSOCKET API**

1)
CoinTiger https://coinmarketcap.com/exchanges/cointiger/
Available on ccxt? YES - Websocket
Please visit 【www.cointiger.com】-[Account] – [API control] – [create the new key] to create your own API Key.
Request Process
There are REST and Websocket two methods of Public Api Request; REST is the only method fo

[2019-05-17 07:30] thehapax opened #593 "self.write_order_log missing from base.py, breaks RO"
Method appears to be missing in latest devel branch merge from base.py
[code]

## Steps to Reproduce the Problem
Affects Relative orders initialization, check_orders when not using custom expiration

@joelvai

[2019-05-17 07:59] thehapax commented on #593
also from the init, missing:
[code]

[2019-05-17 09:59] bitfag commented on #593
I'd rather remove this order log because it's not accurate anyway. Reliable data can be obtained from account history / elasticsearch wrapper.

[2019-05-17 10:29] bitProfessor commented on #592
hi @thehapax :
1、I tested it with 2 input data：USD:BTS,CNY:BTS
2、All passed the test （USD:BTS ）
http://htmlpreview.github.io/?https://github.com/bitProfessor/DEXBot/blob/dev/tests/pricefeeds/usd_bts_report.html
3、5 failed, 9 passed(CNY:BTS)
http://htmlpreview.github.io/?https://github.com/bitProfessor/DEXBot/blob/dev/tests/pricefeeds/cny_bts_report.html

[2019-05-17 11:37] bitfag commented on #555
I added the test for this condition, the strategy is working in general, though the user must have sufficient balance of QUOTE asset to be able to put sell orders at desired increments.

[2019-05-18 03:27] thehapax opened #594 "Clean exit for dexbot-cli run, not error thrown"
## Expected Behavior
Would like to see a clean exit when exiting `dexbot-cli run`

## Actual Behavior
On exiting `dexbot-cli run` with control-x, control-c?
[code]
## Specifications

  - Version: current devel branch
  - OS: macOSX

[2019-05-19 07:33] bitfag opened #596 "BitsharesOrderEngine and BitsharesPriceFeed inconsistent attributes"
BitsharesOrderEngine uses attributes which are not defined in `__init__` (or elsewhere):

* self.account
* self.market
* self.worker

This means methods which uses these attrs are broken on standalone BitsharesOrderEngine. Now we're don't noticing this because the only user of BitsharesOrderEngine is StrategyBase. All these attrs defined inside StrategyBase.

[2019-05-19 07:34] bitfag commented on #596
BitsharesPriceFeed:

* self.market

[2019-05-19 08:09] bitfag opened #597 "SO: error on orders.index(order), assert other["asset"] == self["asset"]"
Reported on telegram by sixstarkalu

[code]

Very rare error, never saw it personally. Possibly caused by changed asset data during getting orders. The amount comparison is pretty strict as described in https://github.com/xeroc/python-graphenelib/issues/101

[2019-05-19 16:27] bitfag commented on #596
I think it's a good idea to have this fixed after or at the same time as merging tests for BitsharesOrderEngine and BitsharesPriceFeed.

[2019-05-19 20:36] thehapax commented on #596
Yep, we are aware of that. Adding @bitProfessor  to the conversation

[2019-05-19 22:03] thehapax commented on #596
Will fix this on next set of pulls.

[2019-05-19 22:04] thehapax commented on #590
Have started work on this.

[2019-05-19 22:07] thehapax commented on #589
worker infrastructure has redundancy in using config; reduce.
propose

- 1 worker = 1 strategy
- multiple threads when using worker infrastructure
- can also be extended to multi process

[2019-05-19 22:11] #539 closed

[2019-05-19 22:45] thehapax commented on #593
@bitfag has #204 already been implementated? If not lets open a task for it.

making a pull request to eliminate self.write_order_log from base and RO

[2019-05-20 04:56] bitfag commented on #593
`write_order_log()` is current implementation of #204. A new implementation has not been done (I was assigned to another task), so only plugin infrastructure has been implemented (#500 and #502).

[2019-05-20 05:02] bitfag commented on #589
Same as current.

So you decided to not use asyncio? Can you post wider description why such decision has been made?

[2019-05-20 05:40] thehapax commented on #589
Not final decision. right now just experimenting.

[2019-05-20 05:44] thehapax commented on #589
It appears that the current implementation is 1 WorkerInfrastructure implements multiple StrategyBase, unless i'm reading this incorrectly?

[2019-05-20 06:44] bitfag commented on #589
WorkerInfrastructure is a supervisor which instantiates workers, 1 worker = 1 Strategy instance.

[2019-05-21 02:48] thehapax commented on #589
Ok so tell me if i am getting this wrong, because i have not implemented asyncio with multithreading. I did a little reading and some of it is still confusing, so here is my best take:

Here is what i see so far:
I see a lot of redundant loops calling the config file inside of WorkerInfrastructure. Why not make it simpler, and just handle the config file parsing outside the class?

Afaik, WorkerIn

[2019-05-21 03:13] thehapax commented on #589
One other thing - it appears that switching between process pools and thread pools is not much of a big deal. see link above from asyncio-eventloop.html.

I am aware that most users who are running in the cloud would be on 1 cpu. However, for us power desktop users with multicore, would be kind of nice to have the multiprocessing option. I have 4 cores on my laptop and a 12 core desktop....

[2019-05-21 04:31] joelvai commented on #589
It is true that WorkerInfrastructure is the central place and that 1 worker has only 1 strategy like @bitfag said, but the thing is that WorkerInfrastructure is running on single thread.

[2019-05-21 07:08] bitfag opened #599 "Docker build failed after 0.3.0 upgrade"
https://travis-ci.org/Codaone/DEXBot/jobs/535148331

[code]

[2019-05-21 07:39] bitfag commented on #574
I thought about version pinning and I came into conclusion we need to pin to the commits or tags, like this:

[code]

So updating master/develop will not break any previous dexbot versions, and also it will ease testing of updated libraries on dexbot `devel`.

[2019-05-21 08:02] bitfag commented on #589
I didn't thought about this, looks like a good idea.

Further:

* Multiprocessing make sense when you have a CPU-greedy code. This may be signing of thousands of transactions or some heavy computation
* Mixing asyncio and ThreadPoolExecutor makes sense if you have a synchronous legacy code you want to run in parallel not blocking the event loop.
* Threads can have shared variables etc, and when yo

[2019-05-21 12:39] bitfag commented on #555
To wrap up: the strategy works, but GUI precision limited to 8, so user can't input bounds lower than 1 sat. Solutions:

* Show numbers with 8 precision by default, but allow users to input numbers with higher precision (though this can lead to user errors inputting wrong prices)
* Advise users to operate on reverse market, so numbers become pretty high like 100000000

[2019-05-21 12:40] #535 closed

[2019-05-21 12:41] bitfag commented on #529
I need to add someone as maintainer to readthedocs.io for redundancy.

[2019-05-21 12:43] bitfag commented on #471
Was fixed.

[2019-05-21 12:43] #471 closed

[2019-05-21 20:12] thehapax commented on #589
I know that we have #538, but I want to make sure we agree here on the worker.py refactor which split into this issue. The #538 has too many points in it and want to separate it out.

Based on discussion above, until the async part of bitshares.notify is done, I just want to make clear to you what I am doing with ThreadPoolExecutor and put it on a branch until the async in pybitshares is ready. Af

[2019-05-21 21:53] thehapax commented on #555
Reverse Market is always cleaner solution as basing it directly off what the exchange offer. My 2 cents.

[2019-05-22 06:11] thehapax commented on #582
@joelvai would be good if you can give some input on this that might affect GUI

[2019-05-22 06:18] thehapax commented on #589
I made a test branch here for ThreadPool, with a simplified core_worker and core_cli so that it doesn't interfere with existing code. i hope this is the right direction

https://github.com/thehapax/DEXBot/tree/core-refactor-test

[2019-05-22 06:51] MarkoPaasila commented on #575
The problem is that we assume that we get the price we specify. When calculating prices we must do so taking into account the available resolution, and use an actually possible price going forward. See [my pr](https://github.com/Codaone/DEXBot/pull/512) for reference. I'm working on an improved version, but it seems pretty specific to Staggered Orders (with it's order size limits), and maybe not s

[2019-05-22 08:33] bitProfessor commented on #591
hi @thehapax :
http://htmlpreview.github.io/?https://github.com/bitProfessor/DEXBot/blob/dev/tests/orderengines/oe_report.html

[2019-05-22 08:36] bitProfessor commented on #590
ok

[2019-05-22 10:09] bitfag opened #601 "SO: corner case when spread is not reached, sides imbalanced, several sell orders filled at once and need to place closer buy order"
Target spread is not reached, sides imbalanced, several sell orders filled at once and need to place closer buy order.

Currently one closer buy order is placed full-sized using fallback logic to cancel furthest buy. Probably it should not work this way.

[2019-05-22 10:12] bitfag opened #602 "SO: place_closer_order() different result depending on self.returnOrderId"
place_closer_order() may return different result depending on self.returnOrderId: bool if False, order id if True.

This is not very handy to work with, would be nice to have a consistent return result.

[2019-05-22 15:59] bitfag commented on #589
I did quick review of this branch. I see that all workers are using single `BitShares` instance. The problem it's not threadsafe, and I got into situation when both workers tried to broadcast in parallel, resulting in `grapheneapi.exceptions.RPCError: missing required active authority: Missing Active Authority ` error.

Further, I think there may be conflicts with subscriptions as each `CoreWorker

[2019-05-22 18:08] #599 closed

[2019-05-22 19:34] PermieBTS commented on #590
Hi @bitProfessor can you make sure you're working on https://github.com/Codaone/DEXBot/issues/519 and https://github.com/Codaone/DEXBot/issues/520#issuecomment-477807850 as discussed

@thehapax To clarify, you are working on this solo?

[2019-05-22 20:32] thehapax commented on #589
One possible way to resolve the bitshares instance is make it threadsafe, as it was before with locks. I removed the locks as it seemed it was only used for the config file, so this is an easy fix.

If subscriptions also do ok with locks then I will pass this branch on to bitProfessor for additional testing.

In the meanwhile will wait for your async pybitshares methods to complete before making c

[2019-05-23 01:46] bitProfessor commented on #590
sorry,my mistake

[2019-05-23 05:29] juhanihaapala opened #603 "Gui open before connecting to bitshares"
Now if someone with poor connection, no connection or poor connectivity to default nodes won't get the gui opened because the connection to node is done before gui will open. And because gui won't open a noob user cannot even change the node settings with gui and has to find the config file to change nodes.

[2019-05-23 07:31] bitfag commented on #589
These locks were for config only, python-bitshares itself should be refactored to be threadsafe.

[2019-05-23 22:39] thehapax commented on #589
Ok, so will you refactor python-bitshares threadsafe?

[2019-05-23 22:42] thehapax commented on #590
@PermieBTS i've been working on order engine, if bitprofessor wants to contribute testing would be welcome.

[2019-05-23 22:49] #593 closed

[2019-05-24 06:04] bitfag commented on #589
I currently working on asyncio support at library level, I would like to test some concepts here and bring this at MVP state, then I can investigate thread safety there.

[2019-05-24 06:15] bitProfessor commented on #519
hi @bitfag 。No refactoring koth?

http://htmlpreview.github.io/?https://github.com/bitProfessor/DEXBot/blob/dev/tests/strategies/kh_report.html

[2019-05-24 06:22] bitfag commented on #519
Yes, KOTH is not up-to-date with `devel`.

[2019-05-25 20:56] PermieBTS opened #604 "Charting and Visualisation standard for DEXBot"
In order to have a consistent charting library standard for DEXBot and to keep ongoing maintenance low should Altair be used?

For handling chart data Pandas should be used

EDIT:
TL;DR - Use DASH plot.ly and Pandas dataframes

[2019-05-26 02:29] thehapax commented on #604
@PermieBTS adding @joelvai here, so he can give any feedback on PyQT5 integration with charting libraries. Thanks.

[2019-05-26 10:48] joelvai commented on #582
I think API is not needed, but good refactor to get the unnecessary GUI elements out of the core will make the core better package to include in different types of front-end applications.

[2019-05-26 19:54] froooze opened #605 "dexbot-cli configure - IndexError:"
## Expected Behavior
No error

## Actual Behavior
[code]

## Steps to Reproduce the Problem

  1. dexbot-cli configure
  2. relative orders
  3. external feeds

## Specifications

  - Version: 0.10.12
  - OS: Ubuntu 18.04

[2019-05-26 21:29] PermieBTS opened #606 "Create simple API or utility to query sqlite and get data into dataframes"
Relevent: https://github.com/Codaone/DEXBot/issues/604

[2019-05-27 04:41] joelvai commented on #604
With quick research the Altair seems to be the best solution for this at the moment.

[2019-05-27 14:46] bitfag commented on #582
How frontend should communicate with core without API? For example, frontend may send commands to the core, like "do X", "do Y", do read queries like "what is the status of xxx?"

[2019-05-27 16:43] bitfag commented on #589
Still having issues with multiple workers. You're creating own `self.event_lock` for each thread, so locking doesn't actually work. You need to use the same RLock object across all threads.

[2019-05-27 17:26] bitfag commented on #605
@froooze if this bug is 100% reproducible on your side, can you please provide your `config.yml` file (account names can be removed)?

[2019-05-27 20:39] froooze commented on #605
[code]
I can reproduce the error.

[2019-05-27 20:39] froooze commented on #605
[code]
I can reproduce the error.

[2019-05-28 02:41] bitfag commented on #589
The error means both threads modified bitshares instance txbuffer.

[code]

If you'll begin to use shared RLock, only one worker will run at a time, diminishing any threading advantages. This will be basically the same what we have now, but in threaded manner. Proper multithread handling should be performed inside python-bitshares.

[2019-05-28 03:02] bitfag commented on #605
This is a default config. Ok, I got the point, to reproduce we need to go thru configuration to external feeds option

[code]

The problem there is no enabled default.

[2019-05-28 04:31] thehapax commented on #589
Is there a possibility of using a separate bitshares instance for each worker, and have each on its on process. I do not see any need for each worker to need shared information with each other than the bitshares instance, so they can be in separate processes.

Also Inside of RO, there are todo items that have possible race condition
[code]

and in SO, maintain_strategy() race condition.
[code]

[2019-05-28 05:09] thehapax commented on #589
RLock vs Lock is not making much of a performance difference for processes, i just tested

[2019-05-28 05:49] thehapax commented on #589
oh wait, can't have multiple bitshares instances because of wallet locking. hm.

[2019-05-28 19:39] thehapax commented on #589
structurally, even if we have thread safe python-bitshares, would we still need to do signaling between threads at the worker level for events, like this?
https://pymotw.com/3/threading/index.html#signaling-between-threads

Please let me know your thoughts. i am putting this on hold until next week while i work on other tasks.

[2019-05-29 00:00] thehapax opened #608 "Option to cancel all orders on market"
in GUI or on CLI, would be nice to have an button or command line option to cancel all outstanding orders on a single market or on all market. Would be a good option for the end user to have but also valuable for testing.

[2019-05-29 03:58] thehapax commented on #551
note from graphenecommon/transactionbuilder.py states:
[code]
So this sounds like "memo" keys might not work. might want to either fix this or advise end user

[2019-05-29 06:49] MarkoPaasila commented on #589
I can't think of any reason workers would need to communicate. One would be if we wanted to make sure strategies aren't trading against each other, but we shouldn't have that concern as we don't take orders. That would also become hugely complicated...

[2019-05-29 07:06] MarkoPaasila commented on #538
I like the queue idea for using the pybitshares instance. That will allow for maximizing throughput of one bitshares-instance.

How hard would it be to make an API to separate gui from core? There's not terribly much communication going on there I guess.

[2019-05-29 07:26] bitfag commented on #589
These race conditions are not the result of issues in code, they are just possible because something may happen on the bitshares side between querying orders and putting new orders for example.

I think no signaling required between workers as they are independent. Though it's possible that in the future some small signaling may be needed for case when multiple workers running on single account wi

[2019-05-29 07:29] MarkoPaasila commented on #538
Would a step forward be to have pybitshares operate from a queue (no async yet), and separate each worker into a thread of it's own? That way workers would have a break while waiting for data, and give other workers the opportunity to add their questions to the queue. Then the earlier workers would resume. I would imagine that could speed up stuff by a factor of two, and async would yield another

[2019-05-29 07:30] bitfag commented on #551
Memo key is only to encrypt/decrypt memos. User may want to add memo key if their strategy doing transfers (think about arb starategies doing transfers to rebalance).

[2019-05-29 07:31] bitfag commented on #608
Duplcate of #405

[2019-05-29 13:21] PermieBTS commented on #604
Gabriel has some comments about charting libraries we should use. Ive invited him to comment here

[2019-05-29 14:09] froooze commented on #605
The UI interface gives me no options to select one or more.

[2019-05-29 17:20] bitfag commented on #605
@froooze how is that? Can you attach a screenshot?

[2019-05-29 18:22] bitfag commented on #538
#582

Not sure it will worth spent efforts. Here is asyncio progress https://github.com/Codaone/DEXBot/projects/14

[2019-05-29 22:45] thehapax commented on #538
Hi Marko - This is the same thing I thought would be a temporary solution. I tried doing this last week using a threadpool (which is an extension of a thread queue) and no async, it does speed up the output but it has thread collisions from the single shared bitshares instance. What's interesting is that the thread collisions are not consistent so sometimes it takes several attempts in testing for

[2019-05-29 23:22] thehapax commented on #589
@MarkoPaasila The one issue I have with RO right now is that in the init() is it calling update_orders() or check_orders().  for one, it makes for a very slow initialization start, but these order updating logic should be handled outside of init(), as in SO, which does all the logic in maintain_strategy(). SO Initialization is also much faster. I'd like to fix this.

as in the case mentioned befor

[2019-05-30 00:33] thehapax commented on #589
Fwiw, I am not sure why we have issues with losing bitshares instance. Would be great to get some clarification on why we have to keep adding this parameter to more and more methods in dexbot.

Example:
Asset(fee_asset, bitshares_instance=self.bitshares)
order = Order(order_id, blockchain_instance=self.bitshares)

https://github.com/Codaone/DEXBot/pull/558

[2019-05-30 00:40] #608 closed

[2019-05-30 00:54] thehapax commented on #582
For splitting here are a couple of things I see:

Sending commands to core, to handle:

- Issue #405 Cancel all orders or Cancel all order for a specific worker.
- Start and stop individual workers at the cli.  without having to go all the way to strategy level.
 update_gui_slider/profit, this method calling should be at higher level and not gui only
- update worker on config change
-  For visuali

[2019-05-30 00:57] thehapax commented on #538
see #589 , closing to avoid duplicate confusion

[2019-05-30 00:57] #538 closed

[2019-05-30 06:23] bitfag commented on #589
This is not strictly needed as we setting `shared_bitshares_instance()`. It was a library problem in some early 3.x version, so shared instance didn't worked.

[2019-05-30 11:38] PermieBTS commented on #436
@MarkoPaasila are you able to work on this now?

[2019-05-30 11:40] PermieBTS opened #609 "Staggered Orders Mountain Mode Visualisation"
Relevent: https://github.com/Codaone/DEXBot/issues/604

[2019-05-30 11:41] PermieBTS opened #610 "Relative Orders Visualisation"
Relevent: https://github.com/Codaone/DEXBot/issues/604

[2019-05-30 11:42] Jackodb commented on #604
I really recommend https://pywebview.flowrl.com/guide/ which allows you to chart in https://www.chartjs.org/ and use HTML and CSS. I've been using it ever since I started on the visualisation job and liked very much.

[2019-05-30 11:43] PermieBTS commented on #330
The jabber has mystyeriously stopped posting to t.me/DEXBotStats last month.

AFAIK it was setup by ihaywood. We've not heard from him so it's time that we develop our own.

We can develop a tickbox allowing data-reporting that sends the account name to a server running a BitShares node(?) to quickly read the data and publish it in real time(?) on dexbot.info and t.me/DEXBotStats.

Data such as:
#

[2019-05-30 16:35] MarkoPaasila opened #611 "RO: Last market trade as new center price"
Last own trade (filled order) price as the new center price - as an option for center price source. Choosing this would discard other center price sources, but similarly work in combination with offset and order size options.

This is very simple. I also think it will improve performance - especially in trending markets - and make it harder to manipulate.

[2019-05-30 18:30] froooze commented on #605
I managed now to select a price source with space key.
Dexbot should also support arrow keys to select things.
With one default value, this problem is solved.

[2019-05-30 21:44] thehapax commented on #611
if you can also take a look at https://github.com/Codaone/DEXBot/issues/589#issuecomment-497143415, would be appreciated. I'd like to see the init()  not handle order placement

[2019-05-31 00:08] thehapax commented on #582
Further, this is an example of how I'd imagine we could use the CoreWorker API, where the name of the worker is "MyWorkerName". It would mean that the worker data would need to access the data but it would be an interface so that cli/gui applications do not need to go down to the engine or strategy level to get the needed data for display or for end user control.

my_worker = CoreWI.getWorker("MyW

[2019-05-31 06:30] MarkoPaasila commented on #271
Last trade as new cp: #611

[2019-05-31 07:17] bitfag opened #612 "Staggered Orders dynamic bounds"
funkit on telegram:

[2019-05-31 07:36] bitfag commented on #612
* Keeping orders always in +-100% range means constant order size recalculation + replacement.
* When price is going into one direction deep enough, opposite orders will begin to sell asset cheaper than previous buy. This can be desired behavior if we'll assume that price will never returns.
* I think that almost the same results can be obtained from using RO strategy with center price from last t

[2019-05-31 07:51] bitfag commented on #330
To gather data, we need something like a simple API server. We cannot expect all bitshares nodes will also run dexbot statistics service.

To prevent statistics abuse, messages from dexbots can be signed with account active key.

[2019-05-31 08:06] MarkoPaasila commented on #612
200% Works for most stable pairs, but +1000% (-90%) change in a matter of days isn't uncommon in more volatile pairs. Especially during huge bull runs. The core concept of Staggered Orders is to keep compounding small profits - which requires you to never fall out of range. Once you fall out of range you will be holding the less valuable of the two assets - and it won't compound or even accumulate

[2019-05-31 08:11] bitfag commented on #582
Here is my view of core + frontends:

Interaction diagrams:

Frontend (API call) -----> API task (common metric)
Frontend (API call) -----> API task ----> Worker task (call some `method()`)

API task is a webserver renposible for handling and dispatching API queries. It's completely standalone from workers or WorkerInfrastructure. There are dexbot-wide queries like "total number of workers", "all

[2019-05-31 08:13] MarkoPaasila commented on #231
How about _emergency break_ if n orders on one side are filled and none on the other? That seems like a clear indication of a change in price, without having to store price data or making assumptions.

When to end the break is another question. Is our only option to measure volatility and set thresholds? Any ideas?

[2019-05-31 14:36] dominic22 commented on #330
I think it should be initially checked and people are able to disable sending statistics in the preferences or we could create a dialog which opens just one time where the user initially can decide to active or deactivate it after the decision he is still able to change it. Otherwise I don't think a lot of users will activate the "tracking" by theirself, since they don't really profit from it.

[2019-05-31 16:42] MarkoPaasila commented on #611
@thehapax that's unrelated, so I don't want to touch it right now. This new method doesn't add any order placement into init.

But to continue on the topic, how would you like to see things that only need to be done at startup done? They will take the same amount of time whether they are done in init or not.

[2019-05-31 17:52] PermieBTS commented on #330
I've asked @dominic22 if he is able to handle this after the windows installer.

[2019-05-31 19:54] MarkoPaasila commented on #604
If we display the charts using qtwebview, it probably doesn't matter too much which toolkit we use to generate the html/css/js, or does it?

[2019-05-31 21:58] thehapax commented on #418
@PermieBTS is Gabriel now working on this? or separate project? Happy to reassign task as my plate is too full

[2019-06-01 01:25] gabev commented on #604
pandas and Matplotlib widgets for obvious reasons ....binding a slider to the spread, increment, orders size, etc  so the orders can be viewed as bars and dynamically adjusted ...when the spread slider is moved, the bars representing the orders in mountain, valley and neutral view will move accordingly in real time ( not preset as I saw in altair) .... when the increment slider is moved , the bars

[2019-06-01 01:35] thehapax commented on #604
http://dygraphs.com/gallery/#g/dynamic-update

[2019-06-01 01:39] thehapax commented on #604
Also see https://www.highcharts.com/demo/?example=dynamic-update&theme=default

there is a creative commons license for non-commercial products. its also geared toward financial applications which need the dynamic update.

[2019-06-01 02:33] JRizzly commented on #604
Roger, I will be implementing. Please ref here for those following: https://github.com/JRizzly/BitsharesRealTimeAccountTracker

[2019-06-01 03:00] gabev commented on #604
Here is a quick code example of the functionality...

`
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.widgets import Slider

fig,ax = plt.subplots()

labels = ['bitCNY','BTS']
colors = ['green','red']
values = np.random.normal(0,1,size=(1000,))
threshold = 0.

axcolor = 'lightgoldenrodyellow'
axthreshold = plt.axes([0.2, 0.001, 0.65, 0.03], facecolor=axcolor)
sthreshold = Slid

[2019-06-01 03:28] thehapax commented on #604
For your get content do something like:

[code]

And put the data you received into a Pandas Dataframe to parse it more efficiently instead of writing loops around arrays:
[code]

[2019-06-01 04:11] thehapax commented on #604
@MarkoPaasila No it doesn't really. Some people really like one or the other. The only criteria I would strongly advocate  on is this: visuals have to look really good or as a new end-user I would not use the software in 2019. If the graphics make it looks like code was written in 2002, then it probably is already out of date, even if it isn't.  That wouldn’t be a good impression for onboarding ne

[2019-06-01 04:42] gabev commented on #604
Grafana Dashboard is open source ....https://grafana.com/

[2019-06-01 06:03] gabev commented on #604
Bokeh, Datashader and Holoviews ... also

[2019-06-01 06:28] MarkoPaasila commented on #418
Could it be a good idea to avoid pulling in lots of third party libraries if possible? After all, the bot holds the keys to quite some value.

Could telegram notifications make use of the eventual api?

[2019-06-01 09:28] PermieBTS commented on #418
Yes Gabriel tells me he is working on this functionality

[2019-06-01 09:46] PermieBTS commented on #604
It seems that plot.ly is open source and we could use it.
The charts are very pretty imo

Plot.ly
The python library is free and is published under the MIT-License https://github.com/plotly/plotly.py/blob/master/LICENSE.txt

The JS-libs are published under the MIT-License since 2015 https://github.com/plotly/plotly.js/blob/master/LICENSE

Link to the open-source announcement of plotly.js from 2015

[2019-06-01 16:24] MarkoPaasila commented on #436
Ok @PermieBTS

[2019-06-02 07:48] thehapax commented on #604
See tested examples and please view my notes about plot.ly in the README.md here:
https://github.com/thehapax/plotly-template

If you use the standard library as used in all example code:
 ``` import plotly.plotly as py```

the data is automatically made world readable unless one uses the offline library and sets to private in config.  Also, do dexbot users want to host all their data on the plot.

[2019-06-02 12:34] PermieBTS commented on #604
Thanks octo, ive asked @joelvai to take a detailed look

Visualisations are a great PR tool, so we want to encourage users to share their charts/history with DEXBot - but in an anonymous way. If the account name/Identifying features can be separated from the plot.ly data published then I think the free, public hosting on plot.ly would be useful. We may have some power users who want to show their

[2019-06-02 23:42] thehapax commented on #604
Yes, but with caveats:
Dash can run a localhost server freely using this example, with real time updates and also interactivity:
https://dash.plot.ly/live-updates.

If you run the example above, it will launch on a localhost webserver like so in terminal:
[code]
I verify that the above  satellite feeds  live-updates example works as a simple public DO droplet deployment. You'll have to figure out

[2019-06-03 00:27] thehapax commented on #604
Just run dash locally, nobody else will see data

see above response.

correct

he only reason I can see that we wouldn't just want dash to run locally is so that any Bitshares user could enter their account name and chart their trade history. Which isn't really what we're building. We want DEXBot workers progress to be visualised.

Only reason to run dash on remote server is if they want everythi

[2019-06-03 04:30] thehapax commented on #604
you can see the dash live satellite update code from this page https://dash.plot.ly/live-updates

temporarily running on my digital ocean instance here: http://104.236.174.201:8050/

I'll leave it there for a few days. The update to the chart is fairly slow but you can see the chart dynamically move on each tick.

[2019-06-03 04:46] joelvai commented on #582
So basically change the core to be a web API? I am just trying to keep up with the idea.

[2019-06-03 12:41] bitfag commented on #582
@joelvai yes.

[2019-06-04 23:34] thehapax commented on #582
core to be web API could work nicely when split. on #604 we are looking at plotting options such as dash, bokeh, etc. the front end for dynamic charting can run its own localized web server, on a different port and query the core.

[2019-06-05 06:25] joelvai commented on #582
After thinking this some time, I wouldn't almost call this even refactor since this would change DEXBot as whole to something different. That said, I think new changes are welcome and the scale of this would need quite a bit planning. I do want to raise some things that come to my mind. At the moment my concerns of this change would be the following:

1. Packaging, from perspective of an average u

[2019-06-05 10:07] bitfag commented on #582
We can try to smooth the transition by implementing API first, without breaking current design. So, old GUI still uses direct calls, while new API layer provide an API for new-style clients.

[2019-06-07 03:36] bitfag opened #614 "SO: pre-calculate orders increases in memory"
SO doing lots of useless orders replacement when allocating funds to increase orders. There were lots of complains from telegram group about this. Increase logic should be optimized to pre-calculate new orders in-memory and then place actual orders only once.

[2019-06-07 22:02] smogm opened #617 "Use remote node time for orders"
Many issues and strange error messages are related to a difference between the remote node / network time and the local system time.
E.g. https://github.com/Codaone/DEXBot/issues/219

It would be nice if either

- dexbot could fetch the node time and use this for all time base calculations
- or print a hint to the user that the issue may be related to his system time

[2019-06-08 06:19] bitfag commented on #617
Warning user about time mismatch is good idea. Relying on node time may be not, as node could be out of sync.

[2019-06-12 10:08] joelvai commented on #603
I am looking into fixing this.

[2019-06-14 21:14] thehapax commented on #582
Here are two useful tools for developing an API in python:

https://ramses.tech/
https://flask-restless.readthedocs.io/en/latest/

[2019-06-16 09:39] Jackodb commented on #604
Not sure whether it has been decided to use DASH/Plotly for all the visualisation stuff. Could you please confirm? I have been using the pywebview api with HTML/CSS/JS (chartjs) up until now and it works like a charm. I'm not sure what kind of advantages DASH/Plotly offers us opposed to the method I have been using. I was wondering since I saw the following documentation:
https://github.com/Codaon

[2019-06-16 11:08] PermieBTS commented on #604
Yes I can confirm the standard is now to use DASH/Plotly and panda dataframes

[2019-06-16 15:43] Jackodb commented on #604
So only DASH libraries are permitted, not Chartjs? I made the following app in Chartjs, of which I shared a screenshot a few weeks ago:
https://github.com/Jackodb/visualisation

[2019-06-17 02:36] bitProfessor commented on #592
hi @thehapax :
1、in docker :
http://htmlpreview.github.io/?https://github.com/bitProfessor/DEXBot/blob/dev/tests/pricefeeds/doocker_report.html
2、Maybe it's py-bitshares's problem.

[2019-06-17 02:42] bitProfessor commented on #591
hi @thehapax
http://htmlpreview.github.io/?https://github.com/bitProfessor/DEXBot/blob/dev/tests/orderengines/docker_report.html
test in docker
1、Todo: place_market_sell_order(), 621 line,modify  # self.log.debug('Placed sell order {}'.format(sell_transaction))
# 2. Todo: convert_fee() 803 line, temp_market = Market(base=fee_asset, quote=Asset('1.3.0', bitshares_instance=self.bitshares))
# temp_ma

[2019-06-17 05:39] thehapax commented on #591
also please see fix in #596 thanks.

[2019-06-17 06:22] bitProfessor commented on #591
Ok

| |
bitprofessor
邮箱：bitprofessor@163.com
|

Signature is customized by Netease Mail Master

On 06/17/2019 13:39, octomatic wrote:

also please see fix in #596 thanks.

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-06-17 10:07] PermieBTS commented on #604
Only DASH libraries

[2019-06-17 10:52] #515 closed

[2019-06-17 10:52] #563 closed

[2019-06-17 10:52] #574 closed

[2019-06-17 10:52] #444 closed

[2019-06-17 10:52] #571 closed

[2019-06-17 10:52] #605 closed

[2019-06-17 10:52] #614 closed

[2019-06-17 10:52] #585 closed

[2019-06-17 14:08] bitfag commented on #592
@bitProfessor yes, this https://github.com/bitshares/python-bitshares/issues/234#issuecomment-502697543

Update your tests to devel branch where shared instance is used, this solves the problem.

[2019-06-17 14:18] bitProfessor commented on #592
Thaks

| |
Professor
|
|
bitprofessor@163.com
|
签名由网易邮箱大师定制

On 06/17/2019 22:08，Vladimir Kamarzin<notifications@github.com> wrote：

@bitProfessor yes, this bitshares/python-bitshares#234 (comment)

Update your tests to devel branch where shared instance is used, this solves the problem.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute

[2019-06-17 15:49] bitfag commented on #570
Versions upgraded.

[2019-06-17 15:49] #570 closed

[2019-06-18 20:37] CryptoKong opened #620 "Cancel dust error"
Staggered orders worker error when attempting to cancel dust order:

Traceback (most recent call last):
  File "/home/cryptokong/.local/lib/python3.6/site-packages/grapheneapi/api.py", line 168, in func
    r = func(*args, **kwargs)
  File "/home/cryptokong/.local/lib/python3.6/site-packages/grapheneapi/rpc.py", line 138, in method
    message = self.parse_response(r)
  File "/home/cryptokong/.loc

[2019-06-19 02:29] bitProfessor commented on #596
I think it's a good idea to wait until the order engine is updated to the devel branch.

[2019-06-19 06:55] bitfag commented on #620
Duplicate of #587

[2019-06-19 06:55] #620 closed

[2019-06-19 07:32] bitfag commented on #596
This issue still wasn't addressed properly, looks like without tests it's hard to detect was the fix was right or not.

`BitsharesOrderEngine` in `__init__` sets `self.account = account` while it's still overridden in StrategyBase by property `def account(self)`.

[2019-06-19 12:22] xeroc commented on #574
You may want to do the pinning like this:

    bitshares @ git+https://github.com/Codaone/python-bitshares.git@78ff9808ea53f198d5fd975bf9f471621b2b5ad7#egg=bitshares

See [PIP508 example](https://www.python.org/dev/peps/pep-0508/#id16)

[2019-06-19 22:46] thehapax commented on #596
it is now merged into the devel @bitProfessor

@bitfag perhaps we should remove all overriding properties in StrategyBase, is this what you mean?

[2019-06-19 22:53] thehapax commented on #592
Hi bitProfessor, happy to see this complete. what branch is it on? (don't see a pull)

[2019-06-20 00:59] thehapax commented on #596
@bitfag i made the changes, see https://github.com/thehapax/DEXBot/tree/596-properties

[2019-06-20 05:55] Jackodb commented on #609
Updates on the visualisation part using dash/plotly can be found here: https://github.com/Jackodb/Visualization

[2019-06-20 08:19] bitfag commented on #596
Not sure, I'd rather wait for tests to clearly see everything working as it should.

[2019-06-20 22:54] bitProfessor commented on #596
Ok

| |
bitprofessor
邮箱：bitprofessor@163.com
|

Signature is customized by Netease Mail Master

On 06/20/2019 16:19, Vladimir Kamarzin wrote:

Not sure, I'd rather wait for tests to clearly see everything working as it should.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-06-21 18:27] bitfag opened #624 "Switch to bitshares.get_limit_orders()"
Recently `Market.get_limit_orders()` was implemented https://github.com/bitshares/python-bitshares/issues/244 , switch to it instead of using direct RPC call.

[2019-06-22 15:10] KenSharp commented on #565
Brand new system, brand new installation:

[code]

The cli seems to work okay but I haven't fully set it up yet.

[2019-06-22 15:38] bitfag commented on #565
Please show `echo $PATH`

[2019-06-25 08:23] bitProfessor commented on #519
hi @bitfag
http://htmlpreview.github.io/?https://github.com/bitProfessor/DEXBot/blob/mytest/tests/strategies/king_of_the_hill/hk_uninittests_report.html

1.` add self.buy_price=None @line 95`
2. `add self.sell_price=None @line 96`
3. 183 line: `own_orders_ids = [order['id'] for order in self.get_own_orders]`==>>`self.get_own_orders()`
4.  line 249 , Event 'is_too_small_amounts' is not declared

[2019-06-25 16:38] bitfag commented on #519
@bitProfessor can you please prepare the tests on top of my branch `454-1-sat-bot-strategy` so I could merge it locally and apply fixes?

[2019-06-26 02:13] bitProfessor commented on #519
@bitfag ok

[2019-06-26 11:11] bitfag commented on #609
Required changes on strategy side (saved from telegram discussion):

* when initializing SO orders, save them to database
* if worker name is changed, that db is updated as well

[2019-06-26 11:52] bitfag commented on #609
@Jackodb to retrieve worker orders several ways could be used:

1. call Account.openorders, then filter orders by it's market to match worker's market
2. call BitsharesOrderEngine property `own_orders`. It basically does exact thing as 1.

[2019-06-26 11:58] Jackodb commented on #609
What if there are two workers on the same market?

[2019-06-26 12:06] bitfag commented on #434
TODO: prevent workers with same account and same market.

[2019-06-26 12:07] bitfag commented on #609
Same market with same account across multiple workers is not a valid situation, a check to prevent it will be added.

[2019-06-26 20:02] PermieBTS commented on #330
@dominic22 has written up a spec of work for this feature, and is now subject to review/feedback from @MarkoPaasila @thehapax @joelvai
If all goes well work can start v soon

**DEXBot- Statistical Collection**

**Req. 1000: DEXBot can allow data collection by using a tick box.**

Implementation of a checkbox at the settings page, next the nodes selection page of DEXBot. If checked, DEXBot shall se

[2019-06-27 06:24] dominic22 commented on #330
After further thoughts, I could also imagine to open a socket connection to the backend service, to detect obsolete workers, this would eliminate the heart beat and the backend will receive an event if the socket connection get closed, which is less implementation effort.

[2019-06-28 20:05] PermieBTS commented on #330
@bitfag what do you think?

[2019-06-30 09:25] bitfag commented on #330
## 1001: comments on data to collection

* worker name: I don't think it's needed, no goal to know how people names their workers
* Strategy: should send strategy module name, like "dexbot.strategies.staggered_orders"
* base asset, quote asset, order size: these metrics are strategy specific and should depend on exact strategy the worker is operating. For example, for SO strategy we also like to g

[2019-07-02 07:33] joelvai commented on #330
**1001**
I agree on what @bitfag said. Worker's name is in my opinion irrelevant information.

**1002**
I agree here as well, it is good to remember that it is possible to just close DEXBot and leave the RO orders there on purpose. As well as one might run DEXBot once and setup SO and relaunch DEXBot week after so these orders should still be count.

Since collecting data outside the local DEXBot

[2019-07-02 09:49] dominic22 commented on #330
Thanks for the feedback.

**1001**
I just wanted to have the worker name to differentiate between orders of an account. If we can detect if an order is closed or filled while DEXBot is offline this might no be needed though.

**1002**
So if we say the orders should be counted as liquidity also when DEXBot is closed, how can we check wether the order is still there and not filled. I think bitshares

[2019-07-04 07:49] bitcoinsfacil opened #625 "[multiple workers same account] staggered order + relative order on same pair"
## Expected Behavior
Relative order (RO) configuration closes orders when the worker stops. Staggered orders (SO) are configured to remain open even if a worker is stopped.

Not sure if this is a Bug but something to notice or try to avoid= two workers on the same pair with different strategies will have unexpected behavior

## Actual Behavior
Two workers on the same trading pair: one with RO the

[2019-07-08 08:06] dominic22 commented on #584
This issue is closed and merged. https://github.com/Codaone/DEXBot/pull/618

[2019-07-08 08:06] #584 closed

[2019-07-09 20:06] PermieBTS commented on #330
As this is a stand alone tool I think NodeJs would be acceptable

Pybts and pygraphene may be of use https://github.com/bitshares/python-bitshares

@gabev where is the source code for dexbot.info?

[2019-07-11 16:34] #604 closed

[2019-07-12 02:34] xiao93 opened #627 "I hope dexbot supports Chinese on GUI and wiki."
Hi, dexbot team, I hope dexbot supports Chinese on GUI and wiki.

Thank you.

[2019-07-12 12:17] PermieBTS commented on #627
Hello, yes we are working on it. Chinese language will be supported

[2019-07-12 17:18] bitfag commented on #625
Related to #434.

This needs to be checked & fixed + test added.

[2019-07-12 17:44] bitfag commented on #330
## 1002

Account open orders could be obtained by `Account.openorders` (pybitshares). Periodic check should be fine I think.

## 1003

No, I just mean that backend API should be aware of strategy-specific data, for example a metric "number of workers on _valley_ mode" etc

## Notes

* I personally would prefer a python backend. Though from the technology point of view both python and nodejs (and m

[2019-07-13 12:49] CryptoKong opened #628 "Unable to access GUI due to bad node"
The node selection isnt skipping bad nodes, I got kicked out of the DEXBot GUI then was unable to get back into it because the bad node was not being skipped. For GUI users this is no good.
Either need to make sure that we are moving on to the next node or need to be able to get into DEXBot before node selection happens so we can switch from there.

Also, users shouldnt be getting kicked out of DE

[2019-07-13 13:21] juhanihaapala commented on #628
The gui part is duplicate for this https://github.com/Codaone/DEXBot/issues/603

But skipping dead node is new.

[2019-07-14 20:01] bitcoinsfacil opened #629 "[command-line] unable to choose values for threshold and % of asset"
## Actual Behavior
Not showing option when configuring staggered orders to input operational_percent_base: & operational_percent_quote:

## Steps to Reproduce the Problem

  1. Run configure from cli

[2019-07-15 09:39] bitfag commented on #629
This feature is currently available on **single-account-multiple-workers** branch. I checked it and these options are available from cli configure.

[2019-07-15 10:18] bitfag opened #631 "ConfigValidator always uses default config"
Config validator does own Config initialization always using a default config. This affects cli configure when configuring with custom `--configfile`.

`worker_names = Config().workers_data.keys()`
`workers = Config().workers_data`

[2019-07-15 10:19] bitfag commented on #434
* in cli configure full config isn't passed to `configure_worker()` so it cannot validate against other workers
* Maybe it's good idea to add a check into ConfigValidator, but #631 needs to be addressed

[2019-07-15 11:32] bitcoinsfacil commented on #629
I understand but was told that `multiple workers on single account` was enabled on the master branch also @bitfag. Then everything is OK

[2019-07-15 11:32] #629 closed

[2019-07-15 11:50] bitfag commented on #588
`test_allocate_asset_dust_order()` is no longer indicates an issue, a separate test should be written.

[2019-07-15 23:49] thehapax commented on #330
A second vote here for a python backend. Definitely would lean toward ease of maintainability for the project as it grows.

[2019-07-16 00:37] thehapax commented on #330
@dominic22 one other thing --  if you are still looking at flask, there is tornado, which is non-blocking and has async. you can see a bit about the comparison here: https://stackshare.io/stackups/flask-vs-tornado

[2019-07-16 10:23] joelvai commented on #628
@CryptoKong have you tested if this problem persists with the current devel? I fixed a GUI connection problem recently. Can you tell me the node you were using in case this is still a problem so we can test it.

[2019-07-19 04:57] #587 closed

[2019-07-19 05:29] #603 closed

[2019-07-22 13:28] PermieBTS commented on #583
I'm assinging @joelvai and
@thehapax here for their reference (no immediate action required), potentially we could start getting this developed in August/September along with Gabriels Market picker. Big Task though.

I'd like to keep it simple for now, to automate what is otherwise a slow manual process.

Seeking out "hidden" AE opportunies would be too complicated

[2019-07-22 15:26] PermieBTS commented on #553
DEXBot development July August/Sept

July
Complete ccxt order engine - Octo
Complete asyncio development of pybts and pygraphene - vvk
Release KOTH - BP and Joel

Release Single Accounts Multiple Workers - BP and Joel

Release Stable v1.0.0 to be maintained only with bugfixing not additional features - Joel
Separate DEXBot into two versions; 1.0.0 stable and 2.0+ with continuous additional feature

[2019-07-23 04:49] thehapax commented on #583
I think along with gabriel's data we can start by providing generalized, non-user specific data on what pairs are available across exchanges and their market/bid/ask/depth.

There is an example script that allows searching if arbitrage-able pairs actually exist on different ccxt exchanges, this could be a good place to start coding something up. It can be extended to list what would be available c

[2019-07-26 07:06] bitfag opened #636 "SO save orders for visualization purposes"
There was a telegram discussion regarding #609. As I understand, visualization code requires:

* state of initial orders on SO worker
* state of current worker orders

[2019-07-26 07:08] Jackodb commented on #636
It would be very helpful if initial orders and current orders could be kept apart from each other in some way.

[2019-07-26 07:26] bitfag commented on #636
The main proposed solution was to dump orders into database. Along with the described requirements, there are also #442 task to keep virtual orders in state. It's good time to fit everything now.

So basically we have two order types to save:

* initial
* current

Both of these types could also be a real or virtual order.

Current Orders table structure doesn't fit specified requirements. The foll

[2019-07-26 07:26] PermieBTS opened #637 "CLI - Cannot delete nodes from list"
On the CLI version nodes can be added to the list but not deleted.

[2019-07-26 07:34] Jackodb commented on #636
The orders you would dump into database are like the output orders you get when calling `Account.openorders` right? So I hope that includes things like 'for_sale', 'price', etc. since I need that information in my visualisation plot too (i.e., price, whether it's base or quote).

I like the addition of virtual orders since I prefer plotting all the worker's orders, not only the real ones.

[2019-07-26 07:47] bitfag commented on #636
Yes, the full Order object is dumped.

[2019-07-26 23:15] CryptickCryptick1 opened #638 "HTLC Support ...Atomic Swaps"
Who here in the DexBot community is excited about the possibilities of HTLC (Atomic Swaps)?

I think there could be an Atomic Swap version of DexBot. If Atomic Swaps HTLC (Hashed Time Locked Contracts) are going to be successful, I think they are going to need the liquidity and automation that a bot can bring!

Currently, there are very few exchanges doing atomic swaps, I spent time looking at Kom

[2019-07-27 01:16] gabev opened #639 "Add localization support"
Extending the reach of DEXBot globally  via  localization; I know we discussed it in the past but never been put on a timeline; we can suggest to DEXBot's users to create their own telegram channels in their particular language dedicated to market making , optimal settings, etc ..

[2019-07-27 08:01] bitcoinsfacil commented on #638
I am interested and available with a team if needed.

This team has upgraded the necessary code to support atomic swap on 3 blockchain projects ( [electracoin](https://github.com/Electra-project/electra-core/blob/master/src/main.cpp#L6), [proeliocoin](https://github.com/Proeliocoin/Source-Wallet/blob/master/src/main.cpp#L6) and [myce](https://github.com/myceworld/myce/blob/master/src/main.cpp#L6)

[2019-07-27 11:10] PermieBTS commented on #638
Great to have you around Pedro, thanks for letting us know about your experience in this area

[2019-07-27 11:12] PermieBTS commented on #639
Great idea

In terms on translation of the docs I have found Shasha_101 who is able to translate into Russian and Mandarin

[2019-07-29 13:24] bitfag commented on #636
Because we're going to modify table structure, we need a way to upgrade existing dexbot installations without breaking database. I'm experimenting with [alembic](https://alembic.sqlalchemy.org/) to handle database migrations.

[2019-07-29 18:14] CryptickCryptick1 commented on #638
So I see the Hashed Time Locked Transaction is working in staging...
https://staging.bitshares.org/#/htlc

There is some explanations here:
https://github.com/bitshares/bsips/pull/104

Interesting...

[2019-07-29 23:29] CryptickCryptick1 commented on #638
A couple of more notes of interest:
Interestingly there was a Worker Proposal for HTLC by Everbloom hosted via the BBF
https://www.bitshares.foundation/workers/2019-03-atomic-cross-chain-swaps
Launched in March it only has 84M of 312M votes which would be needed.

Not having enough votes could be interpreted as a lack of enthusiasm for HTLC, or it could be interpreted as it was the wrong groups, o